<%# app/views/help/_list.html.erb -%>
<%-
  # A sequence of help entries.

  view_debug(__FILE__)

  list   ||= []

  level  ||= 1
  row    ||= level
  skip   ||= nil

  skip    = [*skip]
  heading =
    unless skip.include?(:title)
      title ||= t('emma.help.index.title')
      classes = 'list-heading'
      classes = css_classes(classes, 'empty') if list.blank?
      html_tag(level, title, class: classes)
    end

  level += 1
  index = 0
  sub_heading =
    help_titles(*list).map { |topic, label|
      classes = "entry-title row-#{index}"
      index += 1
      html_tag(level, label, class: classes, id: "#{topic}_help")
    }

  skip << :title
  opt  = { level: level, skip: skip }

-%>

<%= heading %>

<%- if list.blank? -%>
  <%= render 'help/list_item', opt.merge!(index: -1, row: row) %>
<%- else -%>
  <%- list.each_with_index do |item, idx| -%>
    <%= sub_heading[idx] %>
    <div class="help-list-item <%= "row-#{idx}"-%>">
      <%- opt.merge!(index: idx, row: (row + idx), item: item) -%>
      <%= render 'help/list_item', opt %>
    </div>
  <%- end -%>
<%- end -%>
