<%# app/views/help/index.html.erb -%>
<%-
  # EMMA help page.

  view_debug(__FILE__)

  list  ||= help_topics

  title ||= t('emma.help.index.title')
  intro ||= t('emma.help.index.intro', default: '')

  unless modal?
    label = t('emma.help.index.label', default: title)
    set_page_meta_title(label)
    set_page_description(title)
    help_links(list).each { |name, path| skip_nav_append(name => path) }
  end

  intro = intro.presence && help_paragraphs(intro).join("\n").html_safe
  toc   = help_toc(*list)

-%>

<%= page_heading(title) %>

<div class="help-intro">
  <%= intro %>
  <%= toc %>
</div>

<div class="help-list help-section">
  <%= render 'help/list', list: list, skip: :title %>
</div>

<div class="help-toc">
  <%= toc %>
</div>
