<%# app/views/help/index.html.erb -%>
<%-
  # EMMA help page.

  view_debug(__FILE__)

  list  ||= help_topics

  cfg   ||= current_config_page_section
  title ||= cfg[:title]

  unless modal?
    label = cfg[:label] || title
    set_page_meta_title(label)
    set_page_description(title)
    help_links(list).each { |name, path| skip_nav_append(name => path) }
  end

  toc_heading = config_term(:help, :toc_heading)
  toc_heading += ':' unless toc_heading.end_with?(':')

-%>

<%= page_heading(title) %>

<div class="help-intro">
  <%= help_main_intro %>
  <%= help_toc(*list, before: html_h2(toc_heading)) %>
</div>

<div class="help-list help-section">
  <%= render 'help/list', list: list, skip: :title %>
</div>

<div class="help-toc">
  <%= help_toc(*list) %>
</div>
