<%# app/views/devise/confirmations/new.html.erb -%>
<%-
  # Resend confirmation page.

  title ||= t('emma.user.confirmations.new.title')

  set_page_robots(:noindex, :nofollow) unless modal?

  form_opt = {
    as:   resource_name,
    url:  confirmation_path(resource_name),
    html: { method: :post }
  }

  email =
    if resource.pending_reconfirmation?
      resource.unconfirmed_email
    else
      resource.email
    end
  email_opt    = { autofocus: true, autocomplete: 'email', value: email }
  submit_label = t('emma.user.confirmations.new.submit')

-%>

<h1 class="heading"><%= title -%></h1>

<%= form_for(resource, form_opt) do |f| %>

  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class="field">
    <%= f.label       :email %><br/>
    <%= f.email_field :email, email_opt %>
  </div>

  <div class="actions">
    <%= f.submit submit_label %>
  </div>

<%- end -%>

<%= render 'devise/shared/links' %>

<%-
  abort 'devise/confirmations/new - This is not expected to be used'
-%>
