<%# app/views/devise/confirmations/new.html.erb -%>
<%-
  # Resend confirmation page.

  user  ||= current_user
  title ||= t('emma.user.confirmations.new.title')

  set_page_robots(:noindex, :nofollow) unless modal?

  # noinspection RubyResolve
  email   = (user.unconfirmed_email if user.pending_reconfirmation?)
  email ||= user.email

  form_opt = {
    as:   resource_name,
    url:  confirmation_path(resource_name),
    html: { method: :post }
  }

  label_opt       = { class: 'label' }
  value_opt       = { class: 'value' }

  email_label_opt = label_opt
  email_value_opt = value_opt.merge(autocomplete: 'email', value: email)

  submit_label    = t('emma.user.confirmations.new.submit')
  submit_opt      = { class: 'submit-button best-choice' }

-%>

<h1 class="heading"><%= title -%></h1>

<%= form_for(user, form_opt) do |f| %>

  <%= render 'devise/shared/error_messages', resource: user %>

  <div class="field">
    <%= f.label       :email, email_label_opt %>
    <%= f.email_field :email, email_value_opt %>
  </div>

  <div class="actions">
    <%= f.submit submit_label, submit_opt %>
  </div>

<%- end -%>

<%= render 'devise/shared/links' %>

<%- abort 'devise/confirmations/new - NOT EXPECTED TO BE USED' -%>
