<%# app/views/category/index.html.erb -%>
<%-
  # Category index.
  title ||= t('emma.category.index.title')
  list  ||= page_items
  count ||= total_items
  row   ||= 1

  terms = search_terms
  applied_terms, top_controls, bottom_controls =
    index_controls(terms, count: count, row: row)
  row += [applied_terms, top_controls].compact.size

  unless modal?
    set_page_title(t('emma.category.index.label', default: title))
    append_page_title('-', list_search_terms(terms)) if terms.present?
    set_page_description(title)
  end

  title += " (#{count})" if list.blank?

  template_opt = { list: list, count: count, row: row, skip: :title }
-%>

<h1 class="heading"><%= title -%></h1>

<div class="category-list">
  <%= applied_terms %>
  <%= top_controls %>
  <%= render 'category/list', template_opt %>
  <%= bottom_controls if list.present? %>
</div>
