<%# app/views/manifest_item/download.html.erb -%>
<%-
  # Fall-back page for a failed ManifestItem download action.

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')
  view_debug(__FILE__)

  cfg   ||= current_config_page_section
  help  ||= nil # %i[manifest_item download]
  title ||= cfg[:label]

  error ||= cfg.dig(:error, :server)

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
