<%# app/views/user/sessions/_fallback.html.erb -%>
<%-
  # Fall-back error page for a failed sign-in/sign-out.

  action ||= params[:action]
  title  ||= t("emma.user.sessions.#{action}.title",   default: nil)
  title  ||= t("emma.user.sessions.#{action}.label",   default: 'Problem')
  error  ||= t("emma.user.sessions.#{action}.failure", default: 'UNKNOWN')
  help   ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<p><%= error -%></p>

<%= page_notes_section %>
