<%# app/views/user/sessions/_local.html.erb -%>
<%-
  # Local (EMMA authentication) sign-in prompt.

  view_debug(__FILE__)

  user ||= resource || resource_class.new
  page ||= false
  inline = !page

  cfg           = config_page_section(:user_sessions, :sign_in)
  label_opt     = { class: 'label' }
  value_opt     = { class: 'value' }

  usr_label     = cfg[:username]
  usr_label    += ':' unless page || usr_label.end_with?(':')
  usr_label_opt = label_opt
  usr_value_opt = { **value_opt, autocomplete: 'email' }

  pwd_label     = cfg[:password]
  pwd_label    += ':' unless page || pwd_label.end_with?(':')
  pwd_label_opt = label_opt
  pwd_value_opt = { **value_opt, autocomplete: 'current-password' }

  submit_label  = cfg[:submit]
  submit_css    = 'submit-button'
  submit_css    = "#{submit_css} best-choice" if page
  submit_opt    = { class: submit_css }

  cancel_label  = cfg[:cancel]
  cancel_opt    = { class: 'cancel-button' }

  reset         = page  && devise_mapping.recoverable?
  reset_cfg     = reset && config_page_section(:user_passwords, :new)
  reset_label   = reset && reset_cfg[:label]
  reset_tooltip = reset && reset_cfg[:tooltip]
  reset_opt     = reset && reset_tooltip && { title: reset_tooltip } || {}
  reset_url     = reset && new_password_path(resource_name)

  remember      = devise_mapping.rememberable?

  form_label    = nil
  form_html     = { class: 'sign-in-form' }
  if inline
    fl_css      = 'form-label'
    fl_id       = css_randomize(fl_css)
    fl_opt      = { class: fl_css, id: fl_id, 'aria-hidden': true }
    form_label  = html_span(cfg[:label], **fl_opt)
    form_html[:'aria-labelledby'] = fl_id
    append_css!(form_html, 'inline', 'obscured')
  end
  form_opt = {
    as:   resource_name,
    url:  session_path(resource_name),
    html: form_html
  }
-%>

<%= form_for(user, form_opt) do |f| %>

  <%= form_label %>

  <div class="field">
    <%= f.label          :email,    usr_label, usr_label_opt %>
    <%= f.email_field    :email,    usr_value_opt %>
  </div>

  <div class="field">
    <%= f.label          :password, pwd_label, pwd_label_opt %>
    <%= f.password_field :password, pwd_value_opt %>
  </div>

  <div class="actions">
    <%= f.submit submit_label, submit_opt %>
    <%= link_to  cancel_label, :back, cancel_opt if page %>
  </div>

  <%- if reset -%>
    <div class="links">
      <%= link_to reset_label, reset_url, reset_opt %>
    </div>
  <%- end -%>

  <%- if remember -%>
    <div class="options">
      <%= f.check_box :remember_me %>
      <%= f.label     :remember_me %>
    </div>
  <%- end -%>

<%- end -%>
