<%# app/views/user/sessions/_local.html.erb -%>
<%-
  # Local (EMMA authentication) sign-in form.

  view_debug(__FILE__)

  user ||= resource || resource_class.new

  fl_id        = css_randomize('form-label')
  fl_opt       = { class: 'form-label', id: fl_id, 'aria-hidden': true }
  form_label   = t('emma.user.sessions.sign_in.label')
  form_label   = html_span(form_label, fl_opt)

  label_opt    = { class: 'label' }
  value_opt    = { class: 'value' }

  usr_label    = t('emma.user.sessions.sign_in.username')
  usr_opt      = value_opt.merge(autocomplete: 'email')

  pwd_label    = t('emma.user.sessions.sign_in.password')
  pwd_opt      = value_opt.merge(autocomplete: 'current-password')

  submit_label = t('emma.user.sessions.sign_in.submit')
  submit_opt   = { class: 'form-button submit-button' }

  rec_label    = t('emma.user.passwords.new.label')
  rec_url      = new_password_path(resource_name)

  form_opt = {
    as:   resource_name,
    url:  session_path(resource_name),
    html: {
      class:             'sign-in-form inline obscured',
      'aria-labelledby': fl_id,
    }
  }

-%>

<%= form_for(user, form_opt) do |f| -%>

  <%= form_label %>

  <div class="field">
    <%= f.label          :email,    usr_label, label_opt %>
    <%= f.email_field    :email,    usr_opt %>
  </div>

  <div class="field">
    <%= f.label          :password, pwd_label, label_opt %>
    <%= f.password_field :password, pwd_opt %>
  </div>

  <div class="actions">
    <%= f.submit submit_label, submit_opt %>
  </div>

  <%- if devise_mapping.rememberable? -%>
    <div class="options">
      <%= f.check_box :remember_me %>
      <%= f.label     :remember_me %>
    </div>
  <%- end -%>

  <%- if devise_mapping.recoverable? -%>
    <div class="links">
      <%= link_to rec_label, rec_url %>
    </div>
  <%- end -%>

<%- end -%>
