<%# app/views/user/sessions/new.html.erb -%>
<%-
  # Login page.
  #
  # NOTE: This template replaces 'devise/sessions/new'.

  view_debug(__FILE__)

  help  ||= :sign_in
  title ||= t('emma.user.sessions.new.title', default: nil)
  title ||= t('emma.user.sessions.new.label', default: 'Sign in')

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_flash_inline
    set_flash_reset(false)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="sign-in-links">
  <%= render 'user/sessions/omniauth' %>
  <%= render 'user/sessions/local' %>
  <%= render 'user/sessions/synthetic' %>
</div>

<%= page_notes_section %>
