<%# app/views/user/sessions/new.html.erb -%>
<%-
  # Login page.

  title ||= t('emma.user.sessions.new.label')

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<h1 class="heading"><%= title -%><%= help_popup(:sign_in) -%></h1>

<%= render 'user/sessions/local' %>
<%= render 'devise/shared/links' %>
<%= render 'user/sessions/synthetic' %>
