<%# app/views/user/sessions/new.html.erb -%>
<%-
  # Login page.
  #
  # NOTE: This template replaces 'devise/sessions/new'.

  view_debug(__FILE__)

  cfg   ||= current_config_page_section
  help  ||= :sign_in
  title ||= cfg[:title] || cfg[:label] || 'Sign in'

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_flash_inline
    set_flash_reset(false)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="sign-in-links">
  <%= render 'user/sessions/omniauth' %>
  <%= render 'user/sessions/local' %>
  <%= render 'user/passwords/reset' if devise_mapping.recoverable? %>
  <%= render 'user/sessions/synthetic' %>
</div>

<%= page_notes_section %>
