<%# app/views/user/sessions/new.html.erb -%>
<%-
  # Login page.
  #
  # NOTE: This template replaces 'devise/sessions/new'.

  title ||= t('emma.user.sessions.new.title', default: nil)
  title ||= t('emma.user.sessions.new.label', default: 'Sign in')
  help  ||= help_popup(:sign_in)

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= page_directions_section %>
<div class="sign-in-links">
  <%= render 'user/sessions/omniauth' %>
  <%= render 'user/sessions/local' %>
  <%= render 'user/sessions/synthetic' %>
  <%= render 'user/sessions/token' %>
</div>

<%= page_notes_section %>
