<%# app/views/search/advanced.html.erb -%>
<%-
  # EMMA Unified Search advanced search page.

  title ||= t('emma.search.advanced.title')
  help  ||= help_popup(:search)

  unless modal?
    set_page_title(t('emma.search.advanced.label', default: title))
    set_page_description(title)
    set_page_robots(:noindex)
  end

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section(action: :advanced) %>

<%= page_directions_section(action: :advanced) %>
<%= render 'search/form' %>

<%= page_notes_section(action: :advanced) %>
