<%# app/views/search/index.html.erb -%>
<%-
  # EMMA Unified Search results page.

  title ||= t('emma.search.index.title')
  list  ||= search_list
  count ||= total_items
  terms ||= search_terms
  row   ||= 1
  help  ||= help_popup(:search)

  unless modal?
    set_page_title(t('emma.search.index.label', default: title))
    append_page_title('-', list_search_terms(terms)) if terms.present?
    set_page_description(title)
    set_page_robots(:noindex)
  end

  applied_terms, top_controls, bottom_controls =
    index_controls(terms, count: count, row: row)
  row   += [applied_terms, top_controls].compact.size
  title += " (#{count})" if list.blank?

  template_opt = { list: list, count: count, row: row, skip: :title }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description %>

<div class="search-list">
  <%= applied_terms %>
  <%= top_controls %>
  <%= render 'search/list', template_opt %>
  <%= bottom_controls if list.present? %>
</div>
