<%# app/views/search/index.html.erb -%>
<%-
  # EMMA Unified Search results page.

  view_debug(__FILE__)

  dec     = SearchesDecorator.new(**context)
  list    = dec.object

  help  ||= dec.help_topic
  title ||= nil
  title   = dec.page_title(title)

  row   ||= 1

  search  = search_terms
  query   = search.except(*SearchTermsHelper::NON_SEARCH_PARAMS).presence

  unless modal?
    page    = paginator.page_number
    terms   = (page > 1) ? query&.merge(page: page) : query
    terms &&= list_search_terms(terms)
    label   = dec.page_meta_title
    label   = "#{label} - #{terms}" if terms
    set_page_meta_title(label)
    set_page_description(title)
  end

  append_page_classes(*dec.result_classes, *dec.style_classes)

  list_classes = %w[search-list]
  list_classes << 'scores' if dec.relevancy_scores?

  opt = {}

  opt[:row]    = row if file_results?
  top, bottom  = dec.index_controls(**opt)
  bottom       = nil if list.blank?

  list_ctrls   = [top, dec.list_styles, dec.list_results]
  list_heading = page_heading(title, *list_ctrls, help: help)
  list_footing = nil

  if title_results?
    list_footing = bottom
    top = bottom = nil
  else
    # Re-create for unique identifier on 'results' mode menu.
    top = dec.index_controls(**opt).first
    opt[:row] += 1 if opt[:row].is_a?(Integer)
  end

  opt.merge!(dec: dec, skip: :title)

-%>

<%= list_heading %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="<%= css_classes(list_classes) -%>">
  <%= top %>
  <%= render 'search/list', opt %>
  <%= bottom %>
</div>

<%= list_footing %>
<%= page_notes_section %>
