<%# app/views/search/index.html.erb -%>
<%-
  # EMMA Unified Search results page.

  action ||= params[:action].to_s
  title  ||= t("emma.search.#{action}.title")
  list   ||= page_items
  total  ||= total_items
  terms  ||= search_terms
  row    ||= 1
  help   ||= help_popup(:search)

  page_opt = SearchTermsHelper::NON_SEARCH_KEYS
  page_terms, search = partition_hash(terms, *page_opt)
  page   = page_terms[:page]&.values&.first&.to_i || 1
  search = search.presence

  unless modal?
    label = t("emma.search.#{action}.label", default: title)
    terms = search
    terms = terms.merge(page: page_terms[:page]) if terms && (page > 1)
    set_page_title(label)
    append_page_title('-', list_search_terms(terms)) if terms
    set_page_description(title)
  end

  title        = safe_join([title, help]) if help
  list_heading = html_tag(:h1, title, class: 'heading')
  list_bottom  = nil

  opt = { list: list, total: total, page: page, row: (row if default_style?) }
  top_controls, bottom_controls = index_controls(**opt)
  bottom_controls = nil if list.blank?

  if default_style?
    opt[:row] += 1 if top_controls
  else
    append_page_classes('new-style', "#{search_style}-style")
    append_page_classes('dev-style') if session_debug?
    list_heading = [list_heading, top_controls, search_page_styles]
    list_heading = html_div(list_heading, class: 'heading-bar')
    list_bottom  = bottom_controls
    top_controls = bottom_controls = nil
  end

  template_opt = opt.merge!(skip: :title, action: action)

-%>

<%= list_heading %>

<%= page_description_section %>

<%= page_directions_section %>
<div class="search-list">
  <%= top_controls %>
  <%= render 'search/list', template_opt %>
  <%= bottom_controls %>
</div>
<%= list_bottom %>

<%= page_notes_section %>
