<%# app/views/search/index.html.erb -%>
<%-
  # EMMA Unified Search results page.

  action ||= params[:action].to_s
  title  ||= t("emma.search.#{action}.title")
  list   ||= page_items
  total  ||= total_items
  terms  ||= search_terms
  row    ||= 1
  help   ||= help_popup(:search)

  pagination, search =
    partition_hash(terms, *SearchTermsHelper::NON_SEARCH_KEYS)
  page   = pagination[:page]&.values&.first&.to_i || 1
  search = search.presence

  unless modal?
    label = t("emma.search.#{action}.label", default: title)
    terms = search
    terms = terms.merge(page: pagination[:page]) if terms && (page > 1)
    set_page_title(label)
    append_page_title('-', list_search_terms(terms)) if terms
    set_page_description(title)
  end

  append_page_classes(*search_result_classes, *search_style_classes)

  opt = { list: list, total: total, page: page, records: total_records }
  opt[:row]    = row     if file_results?
  top, bottom  = index_controls(**opt)
  bottom       = nil     if list.blank?

  list_ctrls   = [top, search_page_styles, search_page_results]
  list_heading = page_heading(title, *list_ctrls, help: help)
  list_footing = (bottom if title_results?)

  bottom = top = nil if title_results?
  opt[:row]   += 1   if top && opt[:row].is_a?(Integer)

  template_opt = opt.merge!(skip: :title, action: action)

  list_classes = %w(search-list)
  list_classes << 'scores' if relevancy_scores?

-%>

<%= list_heading %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="<%= css_classes(list_classes) -%>">
  <%= top %>
  <%= render 'search/list', template_opt %>
  <%= bottom %>
</div>

<%= list_footing %>
<%= page_notes_section %>
