<%# app/views/search/retrieval.html.erb -%>
<%-
  # Fall-back page for a failed Search retrieval.

  view_debug(__FILE__)

  cfg   ||= config_page_section(:download)
  help  ||= nil # %i[search retrieval]
  title ||= cfg[:label]

  error ||= cfg.dig(:error, :server)

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
