<%-
  # Link(s) displayed at the bottom of many Devise-controller-related page.

  c   = controller_name
  opt = { 'data-turbolinks': false }

-%>
<%- unless c == 'sessions' -%>
  <%- label = t('emma.user.sessions.new.label') -%>
  <%- path  = new_session_path(resource_name) -%>
  <%= link_to label, path, opt %><br />
<%- end -%>

<%- if devise_mapping.registerable? && (c != 'registrations') -%>
  <%- label = t('emma.user.registrations.new.label') -%>
  <%- path  = new_registration_path(resource_name) -%>
  <%= link_to label, path, opt %><br />
<%- end -%>

<%- if devise_mapping.recoverable? && !%w(passwords registrations).include?(c) -%>
  <%- label = t('emma.user.passwords.new.label') -%>
  <%- path  = new_password_path(resource_name) -%>
  <%= link_to label, path, opt %><br />
<%- end -%>

<%- if devise_mapping.confirmable? && (c != 'confirmations') -%>
  <%- label = t('emma.user.confirmations.new.label') -%>
  <%- path  = new_confirmation_path(resource_name) -%>
  <%= link_to label, path, opt %><br />
<%- end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && (c != 'unlocks') -%>
  <%- label = t('emma.user.unlocks.new.label') -%>
  <%- path  = new_unlock_path(resource_name) -%>
  <%= link_to label, path, opt %><br />
<%- end -%>

<%- if devise_mapping.omniauthable? -%>
  <p>
    <%- resource_class.omniauth_providers.each do |provider| -%>
      <%- p     = OmniAuth::Utils.camelize(provider) -%>
      <%- label = t('emma.user.omniauth_callbacks.new.label', provider: p) -%>
      <%- path  = omniauth_authorize_path(resource_name, provider) -%>
      <%= link_to label, path, opt %><br />
    <%- end -%>
  </p>
<%- end -%>
