<%# app/views/upload/admin.html.erb -%>
<%-
  # Upload submission administration.

  view_debug(__FILE__)

  title ||= t('emma.upload.admin.title')
  help  ||= nil # %i[upload admin]

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<h2 class="admin-section">AWS S3 buckets</h2>
<%= html_s3_bucket_table(s3_object_table) %>

<%= page_notes_section %>
