<%# app/views/upload/cancel.html.erb -%>
<%-
  # Fall-back page for a failed Upload cancel action.

  view_debug(__FILE__)

  help  ||= nil # %i[upload cancel]
  title ||= t('emma.upload.cancel.title')

  error ||= 'Invalid identifier' # TODO: I18n

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
