<%# app/views/upload/check.html.erb -%>
<%-
  # Display result of checking for updated Upload submission status.

  view_debug(__FILE__)

  # @type [Array<String>]
  list  ||= @list

  error ||= 'Invalid identifier' # TODO: I18n
  title ||= t('emma.upload.check.title')
  help  ||= nil # %i[upload check]

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%- if list.blank? -%>

  <p><%= error -%></p>

<%- else -%>

  <%= page_directions_section %>
  <%- list.each do |item| -%>
    <p><%= item -%></p>
  <%- end -%>

<%- end -%>

<%= page_notes_section %>
