<%# app/views/upload/show.html.erb -%>
<%-
  # Show details of an upload

  item  ||= @item
  image ||= nil
  title ||= t('emma.upload.show.title', name: item&.filename)

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  template_opt = { item: item, image: image }

-%>

<h1 class="heading"><%= title -%></h1>
<%= upload_description %>

<%= render 'upload/details', template_opt %>
<%= upload_preview %>

<%= upload_notes %>
<%= upload_action_list unless modal? || cannot?(:edit, Upload) %>
