<%# app/views/admin/loggers.html.erb -%>
<%-
  # Logger instances.

  view_debug(__FILE__)

  help  ||= nil # %i[admin loggers]
  title ||= t('emma.admin.loggers.title')

  unless modal?
    label = t('emma.admin.loggers.label', default: title)
    set_page_meta_title("Admin - #{label}")
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>

<table role="table">
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader" class="progname">Progname</th>
      <th role="columnheader" class="class">Class</th>
      <th role="columnheader" class="level">Level</th>
      <th role="columnheader" class="inspect">Inspection</th>
    </tr>
  </thead>
  <tbody role="rowgroup">
    <%- ObjectSpace.each_object(::Logger) do |obj| -%>
      <tr role="row">
        <th role="rowheader" class="progname"><%= obj.progname -%></th>
        <td role="cell" class="class"><%= obj.class.name -%></td>
        <td role="cell" class="level"><%= Log.level_name(obj.level) -%></td>
        <td role="cell" class="inspect"><%= obj.inspect -%></td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%= page_notes_section %>
<%= render 'admin/menu' %>
