<%# app/views/devise/unlocks/new.html.erb -%>
<%-
  # Unlock instructions page.

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')

  user  ||= current_user

  help  ||= nil
  title ||= t('emma.user.unlocks.new.title')

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  form_opt = {
    as:   resource_name,
    url:  unlock_path(resource_name),
    html: { class: 'sign-in-form field-pairs', method: :post }
  }

  label_opt       = { class: 'label' }
  value_opt       = { class: 'value' }

  email_label_opt = label_opt
  email_value_opt = value_opt.merge(autocomplete: 'email')

  submit_label    = t('emma.user.unlocks.new.submit')
  submit_opt      = { class: 'form-button submit-button best-choice' }

-%>

<%= page_heading(title, help: help) %>

<%= form_for(user, form_opt) do |f| -%>

  <%= render 'devise/shared/error_messages', resource: user %>

  <div class="field">
    <%= f.label       :email, email_label_opt %><br/>
    <%= f.email_field :email, email_value_opt %>
  </div>

  <div class="actions">
    <%= f.submit submit_label, submit_opt %>
  </div>

<%- end -%>

<%= render 'devise/shared/links' unless modal? %>
