<%# app/views/title/new.html.erb -%>
<%-
  # New Catalog Title form.

  # NOTE: Currently this is a fall-back in case there was a problem with the
  # link to Bookshare.  Normally, it would only be seen if going directly to
  # the EMMA endpoint.

  title ||= t('emma.title.new.title')
  help  ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  click_to =
    if can?(:new, Title)
      'Click %s to' % link_to_action('here')
    else
      'User %s cannot' % current_user.to_s.inspect
    end.html_safe

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<p><%= click_to -%> add a catalog title.</p>

<%= page_notes_section %>
