<%# app/views/user/registrations/new.html.erb -%>
<%-
  # Sign-up (create local account) form.
  #
  # NOTE: This template replaces 'devise/registrations/new'.

  # TODO: Send an invite with a link including an encrypted token and only show this page if a valid token is presented.

  user  ||= resource
  title ||= t('emma.user.registrations.new.title', default: nil)
  title ||= t('emma.user.registrations.new.label', default: 'Sign up')
  help  ||= nil # help_popup(:account, :new) # TODO: ???

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  form_opt = {
    as:   resource_name,
    url:  registration_path(resource_name),
    html: { class: 'sign-in-form field-pairs' }
  }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>
<%= render 'devise/shared/error_messages', resource: user %>

<%= page_directions_section %>
<div class="account-form-container new">
  <%= render 'account/form_new', user: user, form_opt: form_opt %>
</div>

<%= page_notes_section %>
