<%# app/views/edition/index.html.erb -%>
<%-
  # Periodical Editions index.

  title ||= t('emma.edition.index.title')
  list  ||= edition_list
  count ||= total_items
  row   ||= 1
  terms ||= search_terms

  unless modal?
    set_page_title(t('emma.edition.index.label', default: title))
    append_page_title('-', list_search_terms(terms)) if terms.present?
    set_page_description(title)
    set_page_robots(:noindex)
  end

  applied_terms, top_controls, bottom_controls =
    index_controls(terms, count: count, row: row)
  row   += [applied_terms, top_controls].compact.size
  title += " (#{count})" if list.blank?

  template_opt = { list: list, count: count, row: row, skip: :title }

-%>

<h1 class="heading"><%= title -%></h1>

<div class="edition-list">
  <%= applied_terms %>
  <%= top_controls %>
  <%= render 'edition/list', template_opt %>
  <%= bottom_controls if list.present? %>
</div>
