<%# app/views/edition/index.html.erb -%>
<%-
  # Periodical Editions index.

  title ||= t('emma.edition.index.title')
  list  ||= edition_list
  count ||= total_items
  row   ||= 1
  help  ||= nil

  unless modal?
    terms ||= search_terms
    set_page_title(t('emma.edition.index.label', default: title))
    append_page_title('-', list_search_terms(terms)) if terms.present?
    set_page_description(title)
    set_page_robots(:noindex)
  end

  title += " (#{count})" if list.blank?

  top_controls, bottom_controls = index_controls(count: count, row: row)
  row += 1 if top_controls

  template_opt = { list: list, count: count, row: row, skip: :title }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description %>

<div class="edition-list">
  <%= top_controls %>
  <%= render 'edition/list', template_opt %>
  <%= bottom_controls if list.present? %>
</div>
