<%# app/views/api/index.html.erb -%>
<%-
  # API test page.

  title   ||= t('emma.api.title')
  user    ||= current_user&.to_s
  book    ||= '1933741'
  series  ||= '46424'
  edition ||= '2531073'
  format  ||= 'DAISY'
  limit   ||= 5

  @body_class = 'api-index'
  @page_title = title

  methods = {
    get_user_identity:            nil,
    get_my_account:               nil,
    get_my_preferences:           nil,
    get_my_assigned_titles:       [limit: limit],
    get_my_download_history:      [limit: limit],
    get_my_reading_lists:         [],
    get_account:                  [user: user],
    get_assigned_titles:          [user: user, limit: limit],
    get_subscriptions:            [user: user],
    get_user_agreements:          [user: user],
    get_user_pod:                 [user: user],
    get_organization_members:     [limit: limit],
    get_title_count:              nil,
    get_titles:                   [limit: limit],
    get_title:                    [bookshareId: book],
    download_title:               [bookshareId: book, format: format],
    get_periodicals:              [limit: limit],
    get_periodical:               [seriesId: series],
    get_periodical_editions:      [seriesId: series, limit: limit],
    download_periodical_edition:  [seriesId: series, editionId: edition,
                                   format: format],
    get_categories:               [limit: limit],
    get_catalog:                  [limit: limit],
    get_subscription_types:       nil,
  }.deep_freeze

  parameter_list =
    methods.transform_values { |args|
      args = Array.wrap(args).presence
      args &&=
        args.map { |arg|
          if arg.is_a?(Hash)
            arg.to_s.tr('{}', '').gsub(/:(.+?)=>/, '\1: ')
          else
            arg.inspect
          end
        }.join(', ')
      args &&= "(#{args})"
      args.freeze
    }

  service = ApiService.instance
  success = []
  error   = []

  trials  =
    methods.map { |method, args|
      value = service.send(method, *args)
      value =
        if !value.is_a?(Api::Record::Base)
          # === Scalar response value ===
          success << method
          value.pretty_inspect
            .split(/\n/)
            .map { |line| content_tag(:div, line, class: 'data') }
        elsif value.exception.present?
          # === Exception or error response value ===
          error << method
          value.pretty_inspect
            .split(/\n/)
            .map { |line| content_tag(:div, line) }
        else
          # === Valid response value ===
          success << method
          h(value.to_json(pretty: true).gsub(/"([^"]+)":/, '\1: '))
            .gsub(%r{&quot;https?://.+&quot;}) { |s|
              quot = '&quot;'
              part = s.split(quot)
              url  = part[1]
              key  = 'api_key=%s' % ApiService::API_KEY
              href = url
              if href.start_with?(ApiService::BASE_URL) && !href.include?(key)
                href += (href.include?('?') ? '&' : '?')
                href += key
              end
              '%s<a href="%s">%s</a>%s' % [quot, href, url, quot]
            }
            .gsub(/^( +)/) { |s| s.gsub(/ /, '&nbsp;&nbsp;') }
            .split(/\n/)
            .map { |line| content_tag(:div, line.html_safe, class: 'data') }
        end
      [method, safe_join(value, "\n").freeze]
    }.to_h

  status =
    methods.keys.map { |method|
      classes = []
      classes << 'success' if success.include?(method)
      classes << 'error'   if error.include?(method)
      [method, classes.join(' ').presence.freeze]
    }.to_h

-%>
<h1 class="heading"><%= title -%></h1>

<div id="methods" class="methods">
  <%- service.service_methods.each do |method| -%>
    <%- if (css = status[method]).present? -%>
      <a href="#__<%= method -%>" class="<%= css -%>" data-turbolinks="false">
        <%= method %>
      </a>
    <%- else -%>
      <div>
        <%= method %>
      </div>
    <%- end -%>
  <%- end -%>
</div>

<div id="trials" class="trials">
  <%- trials.each_pair do |method, value| -%>
    <%- classes = [] -%>
    <%- classes << 'success' if success.include?(method) -%>
    <%- classes << 'error'   if error.include?(method) -%>
    <h2 id="__<%= method -%>" class="label">
      <span class="method"><%= method -%></span>
      <span class="args"><%= parameter_list[method] -%></span>
    </h2>
    <div class="value <%= status[method] -%>">
      <%= value %>
    </div>
  <%- end -%>
</div>
