<%# app/views/api/index.html.erb -%>
<%-
  # API method call test page.
  title ||= t('emma.api.index.title')

  set_page_title(title)
  set_page_description(title)
  set_page_robots(:noindex, :nofollow)
-%>

<h1 class="heading"><%= title -%></h1>

<div id="methods" class="methods">
  <%- BookshareService.api_methods.keys.sort.each do |method| -%>
    <%- if (css = @api_results.dig(method, :status)).present? -%>
      <%- href = '#__' + method.to_s -%>
      <%= make_link(method, href, class: css, 'data-turbolinks': false) -%>
    <%- else -%>
      <div><%= method -%></div>
    <%- end -%>
  <%- end -%>
</div>

<div id="trials" class="trials">
  <%- @api_results.each_pair do |method, result| -%>
    <h2 id="__<%= method -%>" class="label">
      <span class="method"><%= method -%></span>
      <span class="args"><%= result[:parameters] -%></span>
      <span class="endpoint"><%= result[:endpoint] -%></span>
    </h2>
    <div class="value <%= result[:status] -%>">
      <%= api_format_result(result[:error] || result[:value]) -%>
    </div>
  <%- end -%>
</div>
