<%# app/views/api/index.html.erb -%>
<%-
  # API method call test page.

  title   ||= t('emma.api.index.title')
  methods ||= BookshareService.api_methods.keys.sort
  help    ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= page_directions_section %>

<div id="methods" class="methods">
  <%- methods.each do |meth| -%>
    <%- if (css = @api_results.dig(meth, :status)).present? -%>
      <%- href = '#__' + meth.to_s -%>
      <%= make_link(meth, href, class: css, 'data-turbolinks': false) -%>
    <%- else -%>
      <div><%= meth -%></div>
    <%- end -%>
  <%- end -%>
</div>

<div id="trials" class="trials">
  <%- @api_results.each_pair do |meth, result| -%>
    <h2 id="__<%= meth -%>" class="label">
      <span class="method"><%= meth -%></span>
      <span class="args"><%= result[:parameters] -%></span>
      <span class="endpoint"><%= result[:endpoint] -%></span>
    </h2>
    <div class="value <%= result[:status] -%>">
      <%= api_format_result(result[:error] || result[:value]) -%>
    </div>
  <%- end -%>
</div>

<%= page_notes_section %>
