<%# app/views/devise/passwords/edit.html.erb -%>
<%-
  # Forgot password page.

  title ||= t('emma.user.passwords.edit.label')

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  form_opt = {
    as:   resource_name,
    url:  password_path(resource_name),
    html: { method: :put }
  }

  pwd_label     = t('emma.user.passwords.edit.password')
  min_length    = @minimum_password_length
  min_length  &&= t('emma.user.password.length', min: min_length)
  confirm_label = t('emma.user.passwords.edit.confirm')
  submit_label  = t('emma.user.passwords.edit.submit')

-%>

<h1 class="heading"><%= title -%></h1>

<%= form_for(resource, form_opt) do |f| %>

  <%= render 'devise/shared/error_messages', resource: resource %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, pwd_label %><br/>
    <%- if min_length -%>
      <em>(<%= min_length -%>)</em><br/>
    <%- end -%>
    <%= f.password_field :password, autofocus: true, autocomplete: 'new-password' %>
  </div>

  <div class="field">
    <%= f.label          :password_confirmation, confirm_label %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit submit_label %>
  </div>

<%- end -%>

<%= render 'devise/shared/links' %>

<%-
  abort 'devise/passwords/edit - This is not expected to be used'
-%>
