<%# app/views/artifact/index.html.erb -%>
<%-
  # Artifacts index.
  title ||= t('emma.artifact.index.title')
  list  ||= artifact_list
  count ||= total_items

  if list.present?
    search_count = "#{count} items found." # TODO: I18n
    search_count = content_tag(:div, search_count, class: 'search-count')
    controls     = pagination_controls
    terms        = search_terms.presence
  else
    search_count = controls = terms = nil
  end

  set_page_title(t('emma.artifact.index.label', default: title))
  append_page_title('-', hash_string(terms)) if terms.present?
  set_page_description(title)
  set_page_robots(:noindex, :nofollow)

  title += " (#{count})" if list.blank?
-%>

<h1 class="heading"><%= title -%></h1>

<div class="artifact-list">

  <%# === Applied search terms (when applicable) === -%>
  <%= applied_search_terms(terms) if terms.present? %>

  <%# === Top pagination controls === -%>
  <%- if controls -%>
    <div class="pagination-top"><%= controls -%><%= search_count -%></div>
  <%- end -%>

  <%# === Items === -%>
  <%= render 'artifact/list', list: list, count: count, skip: :title %>

  <%# === Bottom pagination controls === -%>
  <%- if controls -%>
    <div class="pagination-bottom"><%= controls -%></div>
  <%- end -%>

</div>

<%-
  abort 'artifact/index - This is not expected to be used'
-%>
