<%# app/views/artifact/index.html.erb -%>
<%-
  # Artifacts index.

  title ||= t('emma.artifact.index.title')
  list  ||= page_items
  total ||= total_items
  terms ||= search_terms
  row   ||= 1
  help  ||= nil

  page_opt = Upload::SEARCH_RECORDS_OPTIONS
  page_terms, search = partition_options(terms, *page_opt)
  page   = page_terms[:page]&.values&.first&.to_i || 1
  search = search.presence

  unless modal?
    label = t('emma.artifact.index.label', default: title)
    terms = search
    terms = terms.merge(page: page_terms[:page]) if terms && (page > 1)
    set_page_title(label)
    append_page_title('-', list_search_terms(terms)) if terms
    set_page_description(title)
    set_page_robots(:nofollow)
  end

  title += " (#{count})" if list.blank?

  top_controls, bottom_controls = index_controls(count: count, row: row)
  row += 1 if top_controls

  template_opt = { list: list, count: count, row: row, skip: :title }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<div class="artifact-list">
  <%= top_controls %>
  <%= render 'artifact/list', template_opt %>
  <%= bottom_controls if list.present? %>
</div>

<%= page_notes_section %>

<%-
  abort 'artifact/index - This is not expected to be used'
-%>
