<%# app/views/artifact/retrieval.html.erb -%>
<%-
  # Fall-back page for a failed Artifact retrieval.

  title ||= t('emma.artifact.retrieval.title')
  error ||= @error
  help  ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  error &&= t('emma.download.error.server')
  error ||= t('emma.download.error.javascript')

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<p><%= error -%></p>

<%= page_notes_section %>
