<%# app/views/artifact/retrieval.html.erb -%>
<%-
  # Fall-back page for a failed Artifact retrieval.

  view_debug(__FILE__)

  title ||= t('emma.artifact.retrieval.title')
  help  ||= nil # %i[artifact retrieval]
  error ||= @error

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  error &&= t('emma.download.error.server')
  error ||= t('emma.download.error.javascript')

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
