<%# app/views/artifact/show.html.erb -%>
<%-
  # An Artifact metadata show page.

  item  ||= @item
  title ||= item&.label&.presence || t('emma.artifact.show.title')
  help  ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(title)
  end

  template_opt = { item: item }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= render 'artifact/details', template_opt %>

<%= page_notes_section %>
