<%# app/views/manifest/_selected.html.erb -%>
<%-
  # Display the selected manifest in an expandable panel.

  view_debug(__FILE__)

  item   ||= nil
  dec    ||= ManifestDecorator.new(item, **context)
  item     = dec&.object or return

  level  ||= 2
  row    ||= 0
  skip   ||= nil

  skip     = [*skip, :thumbnail, :number]
  panel_id = panel_css = toggle = nil
  if item.is_a?(Manifest)
    heading   = 'Selected manifest details:' # TODO: I18n
    panel_css = 'selected-details'
    panel_id  = css_randomize(panel_css)
    toggle    = toggle_button(id: panel_id)
    panel_css = "#{panel_css} row-#{row}"
  else
    name      = html_span(item, class: 'item')
    heading   = "No index entries match #{name}".html_safe # TODO: I18n
  end

-%>

<div class="selected-item">

  <div class="toggle-panel-title">
    <h2 class="selected-header"><%= heading -%></h2>
    <%= toggle %>
  </div>

  <%- if toggle -%>
    <div id="<%= panel_id -%>" class="<%= panel_css -%>">
      <%= dec.list_row(row: (row + 1), level: level, skip: skip) %>
    </div>
  <%- end -%>

</div>
