<%# app/views/periodical/index.html.erb -%>
<%-
  # Periodicals results page.

  view_debug(__FILE__)

  list  ||= paginator.page_items
  dec     = PeriodicalsDecorator.new(list, **context)

  help   ||= nil # dec.help_topic
  title  ||= nil
  title    = dec.page_heading(title)

  total  ||= @page.total_items
  terms  ||= search_terms
  row    ||= 1

  page_opt = Record::Searchable::SEARCH_RECORDS_OPTIONS
  page_terms, search = partition_hash(terms, *page_opt)
  page     = positive(page_terms[:page]&.values&.first) || 1
  search   = search.presence

  unless modal?
    label = dec.page_meta_title
    terms = (page > 1) ? search&.merge(page: page_terms[:page]) : search
    terms = list_search_terms(terms) if terms
    label = "#{label} - #{terms}"    if terms
    set_page_meta_title(label)
    set_page_description(title)
  end

  opt = { total: total, page: page, row: row }

  top_controls, bottom_controls = dec.index_controls(**opt)
  opt[:row] += 1        if top_controls
  bottom_controls = nil if list.blank?

  opt.merge!(dec: dec, skip: :title)

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="periodical-list">
  <%= top_controls %>
  <%= render 'periodical/list', opt %>
  <%= bottom_controls %>
</div>

<%= page_notes_section %>
