<%# app/views/help/topic/_download.html.erb -%>
<%-
  # EMMA download help page.

  view_debug(__FILE__)

  topic               = config_section('help.topic.download')

  ace                 = topic[:ace]
  ia                  = topic[:ia]
  oa                  = topic[:oa]
  ump                 = topic[:ump]
  bv                  = topic[:bv]
  emma                = topic[:emma]

  ace_title           = ace[:title]
  ia_title            = ia[:title]
  oa_title            = oa[:title]
  ump_title           = ump[:title]
  bv_title            = bv[:title]
  emma_title          = emma[:title]

  ace_logo            = repository_source_logo(:ace)
  ia_logo             = repository_source_logo(:internetArchive)
  oa_logo             = repository_source_logo(:openAlex)
  ump_logo            = repository_source_logo(:bibliovault_ump)
  bv_logo             = repository_source_logo(:bibliovault_ump)
  emma_logo           = repository_source_logo(:emma)

  signed_in           = help_jump('signed in', :sign_in)
  search              = help_jump('search',    :search)

  download            = help_button(config_page(:download, :label))

  bibliovault         = 'https://www.bibliovault.org'
  bibliovault         = external_link(bibliovault, 'Bibliovault')

  # Page anchors

  ace_help            = 'download_ace_help'
  ia_help             = 'download_internetArchive_help'
  oa_help             = 'download_openAlex_help'
  ump_help            = 'download_bibliovault_ump_help'
  bv_help             = 'download_biblioVault_help'
  emma_help           = 'download_emma_help'

-%>

<p>
  Activation of item download links require you to be <%= signed_in -%> to EMMA
  (although certain non-restricted items may be freely downloadable, depending
  on the originating partner repository).
  After performing a <%= search -%>, scroll to the item of interest, and click
  on the download link to initiate a download.
</p>

<nav role="navigation" aria-labelledby="download_help_nav">
  <div id="download_help_nav" class="sr-only">
    Topics in this section:
  </div>
  <ul>
    <li><a href="#<%= ace_help  -%>"><%= ace_title  -%></a></li>
    <li><a href="#<%= ia_help   -%>"><%= ia_title   -%></a></li>
    <li><a href="#<%= oa_help   -%>"><%= oa_title   -%></a></li>
    <li><a href="#<%= ump_help  -%>"><%= ump_title  -%></a></li>
    <li><a href="#<%= bv_help   -%>"><%= bv_title  -%></a></li>
    <li><a href="#<%= emma_help -%>"><%= emma_title -%></a></li>
  </ul>
</nav>

<section role="region" data-part="download" aria-labelledby="<%= ace_help -%>">

  <h2 class="section" id="<%= ace_help -%>">
    <span class="text"><%= ace_title -%></span>
    <%= ace_logo %>
  </h2>

  <p>
    Because these items are made available to EMMA users via Internet Archive,
    see <a href="#<%= ia_help -%>"><%= ia_title -%></a> below.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= ia_help -%>">

  <h2 class="section" id="<%= ia_help -%>">
    <span class="text"><%= ia_title -%></span>
    <%= ia_logo %>
  </h2>

  <p>
    EMMA dynamically accesses Internet Archive to retrieve files from it.
    Depending on the item, the file may be immediately available, or it may
    require "on-the-fly" generation before Internet Archive can provide the
    file in the requested format.
  </p>

  <p>
    If on-the-fly generation is required,
    expect a significant delay before the item has been prepared for download.
    (Internet Archive is actively working to make this process faster for their
    website, which will benefit downloads of IA items through EMMA as well.)
  </p>

  <p>
    When it is ready, a <%= download -%> button will appear.
    Click this to perform the actual file retrieval via your browser.
  </p>

  <p>
    Due to the way that EMMA interacts with Internet Archive to retrieve
    protected content,
    it may seem as though nothing is happening after you click the button but
    the content is actually on its way to your browser via the EMMA server.
    (This behaviour should be addressed in the near future to make the download
    act like you would expect in your browser.)
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= oa_help -%>">

  <h2 class="section" id="<%= oa_help -%>">
    <span class="text"><%= oa_title -%></span>
    <%= oa_logo %>
  </h2>

  <p>
    Any download link for an index entry associated with OpenAlex is actually
    a link to the original source of the file.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= ump_help -%>">

  <h2 class="section" id="<%= ump_help -%>">
    <span class="text"><%= ump_title -%></span>
    <%= ump_logo %>
  </h2>

  <p>
    The University of Michigan Press collection comes to us courtesy of
    <%= bibliovault -%>.
    These items are delivered directly to the signed-in user from an internal
    EMMA collection server.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= bv_help -%>">

  <h2 class="section" id="<%= bv_help -%>">
    <span class="text"><%= bv_title -%></span>
    <%= bv_logo %>
  </h2>

  <p>
    The University of Michigan Press collection comes to us courtesy of
    <%= bibliovault -%>.
    These items are delivered directly to the signed-in user from an internal
    EMMA collection server.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= emma_help -%>">

  <h2 class="section" id="<%= emma_help -%>">
    <span class="text"><%= emma_title -%></span>
    <%= emma_logo %>
  </h2>

  <p>
    Items that are "native" to the EMMA repository
    (that is, items that have been uploaded by EMMA users and/or are otherwise
    not to be found in any of the other partner repositories)
    are delivered directly from the EMMA repository to the signed-in user.
  </p>

</section>
