<%# app/views/help/topic/_download.html.erb -%>
<%-
  # EMMA download help page.

  view_debug(__FILE__)

  ht_title            = 'Downloading a HathiTrust item'
  ace_title           = 'Downloading an ACE / Scholars Portal item'
  ia_title            = 'Downloading an Internet Archive item'
  bs_title            = 'Downloading a Bookshare item'
  emma_title          = 'Downloading an EMMA item'

  ht_logo             = repository_source_logo(:hathiTrust)
  ace_logo            = repository_source_logo(:ace)
  ia_logo             = repository_source_logo(:internetArchive)
  bs_logo             = repository_source_logo(:bookshare)
  emma_logo           = repository_source_logo(:emma)

  signed_in           = help_jump('signed in', :sign_in)
  search              = help_jump('search',    :search)
  ia_timeout          = help_image(:ia_timeout, class: 'no-border wide')

  ia_help             = 'https://help.archive.org/help'
  is_disability_help  = 'disability-access-general-information'
  ia_disability_page  = "#{ia_help}/#{is_disability_help}"
  ia_disability_link  = external_link('Disability Access', ia_disability_page)

-%>

<p>
  Most if not all items will require you to be <%= signed_in -%>
  (although certain non-restricted items may be freely downloadable, depending
  on the originating member repository).
  After performing a <%= search -%>, scroll to the item of interest, and click
  on the download link to initiate a download.
</p>

<nav role="navigation" aria-labelledby="download_help_nav">
  <div id="download_help_nav" class="sr-only">
    Topics in this section:
  </div>
  <ul>
    <li><a href="#download_hathiTrust_help"><%=      ht_title   -%></a></li>
    <li><a href="#download_ace_help"><%=             ace_title  -%></a></li>
    <li><a href="#download_internetArchive_help"><%= ia_title   -%></a></li>
    <li><a href="#download_bookshare_help"><%=       bs_title   -%></a></li>
    <li><a href="#download_emma_help"><%=            emma_title -%></a></li>
  </ul>
</nav>

<section role="region" aria-labelledby="download_hathiTrust_help">

  <h2 class="section" id="download_hathiTrust_help">
    <span class="text"><%= ht_title -%></span>
    <%= ht_logo %>
  </h2>

  <p>
    Because HathiTrust applies its own restrictions, item download links
    supplied to the EMMA Unified Index are actually links to the HathiTrust web
    page entry for the creative work associated with the item.
    Such pages may reference multiple copies of the same item &mdash;
    unique scans contributed by different academic partners.
  </p>

  <p>
    The actual download is performed from the hathitrust.org web page;
    this constitutes a transaction between that web site and your web browser.
    Currently, the EMMA system is not a party to this transaction;
    future work may include enhancements to help reflect this information
    within EMMA.
    For now, however, the EMMA system will not be able to track your file
    download from HathiTrust, and therefore will not know the origin of this
    item.
  </p>

</section>

<section role="region" aria-labelledby="download_ace_help">

  <h2 class="section" id="download_ace_help">
    <span class="text"><%= ace_title -%></span>
    <%= ace_logo %>
  </h2>

  <p>
    Because these items are made available to EMMA users via Internet Archive,
    see <a href="#download_internetArchive_help"><%= ia_title -%></a> below.
  </p>

</section>

<section role="region" aria-labelledby="download_internetArchive_help">

  <h2 class="section" id="download_internetArchive_help">
    <span class="text"><%= ia_title -%></span>
    <%= ia_logo %>
  </h2>

  <p>
    EMMA manages downloads from Internet Archive in two ways, depending on the
    type of file:
  </p>

  <p>
    For DAISY, Internet Archive currently only delivers encrypted content.
    In this case, the download link is a direct link to Internet Archive
    because the file itself is freely-available.
  </p>

  <p>
    Use of the DAISY content, however, will require a key as described within
    the download itself.
    Refer to IA's article on <%= ia_disability_link -%> for details.
  </p>

  <p>
    For other types (EPUB, PDF, etc.), EMMA intercedes by making a request to
    Internet Archive's facility for generating unencumbered sources
    "on-the-fly".
    Because these files are created dynamically, there may be some delay before
    the browser download dialog appears.
  </p>

  <p>
    You may see an error message:
    <%= ia_timeout %>
    This indicates that the current attempt to download was completed
    unsuccessfully.
    Retrying the download link after a few minutes, however, should result in
    the download without further delay.
  </p>

</section>

<section role="region" aria-labelledby="download_bookshare_help">

  <h2 class="section" id="download_bookshare_help">
    <span class="text"><%= bs_title -%></span>
    <%= bs_logo %>
  </h2>

  <nav role="navigation" aria-labelledby="download_bookshare_nav">
    <div id="download_bookshare_nav" class="sr-only">
      Topics in this section:
    </div>
    <ul>
      <li>
        <a href="#download_bookshare_member_help">
          Bookshare member required
        </a>
      </li>
      <li>
        <a href="#download_bookshare_process_help">
          The Bookshare download process
        </a>
      </li>
      <li>
        <a href="#download_bookshare_DAISY_AUDIO_help">
          Special note about DAISY Audio downloads
        </a>
      </li>
    </ul>
  </nav>

  <h3 class="section" id="download_bookshare_member_help">
    Bookshare member required
  </h3>

  <p>
    Bookshare requires that downloads be performed on behalf of members with
    qualifying disabilities, so the first step in the download is to make
    a selection from the list of members associated with your EMMA/Bookshare
    account.
  </p>

  <p>
    The popup dialog that EMMA presents will not allow you to proceed until a
    qualified member has been selected from the list.
    You may cancel the dialog without a selection to end the download process
    at that point.
  </p>

  <h3 class="section" id="download_bookshare_process_help">
    The Bookshare download process
  </h3>

  <p>
    The EMMA service constructs a request containing the identity of the
    qualified member and other authorization information.
    This request is passed on to the Bookshare service to initiate preparation
    of a custom file instance.
  </p>

  <p>
    Bookshare assembles the requested item on-the-fly to include an internal
    "watermark" identifying the requester and qualifying member.
    During the short time that this takes (for most formats), EMMA client-side
    software will monitor its status and show a "loading" image to indicate
    that Bookshare is working on the request.
  </p>

  <p>
    The customized instance is deposited into temporary cloud storage when it
    is ready to be acquired &mdash;
    at that time, the EMMA client-side software replaces the "loading" image
    with a "Download" button.
    Click on this button to acquire the newly-created file instance from cloud
    storage.
  </p>

  <p>
    (See the next section if you find that the "Download" link does not work.)
  </p>

  <h3 class="section" id="download_bookshare_DAISY_AUDIO_help">
    Special note about DAISY Audio downloads
  </h3>

  <p>
    Because audio is generated by on-the-fly text-to-speech translation, these
    downloads can take an <em>extremely</em> long time for Bookshare to
    prepare.
    Depending on the size and complexity of the source text, wait times over
    one hour are possible.
    Although it may seem "stuck", the Bookshare service is actually working on
    your requested file.
  </p>

  <p>
    If you choose to wait until the "Download" button appears
    (or if you come back to your browser after waiting for a while),
    you may find that the link to the file in cloud storage is no longer valid.
  </p>

  <p>
    The generated file itself, however, is still in cloud storage &mdash;
    click on the download link and re-create your request to get a fresh
    download link.
    (Since the file has already been generated there will be no wait time for
    the new "Download" button to appear.)
  </p>

</section>

<section role="region" aria-labelledby="download_emma_help">

  <h2 class="section" id="download_emma_help">
    <span class="text"><%= emma_title -%></span>
    <%= emma_logo %>
  </h2>

  <p>
    Items that are "native" to the EMMA repository
    (that is, items that have been uploaded by EMMA users and/or are otherwise
    not to be found in any of the other member repositories)
    come in two flavors (at least initially):
  </p>

  <ul>
    <li>
      Items uploaded directly to EMMA by EMMA users.
    </li>
    <li>
      Bookshare items that are part of their "EMMA Collection"
    </li>
  </ul>

  <p>
    Items of the first type are delivered directly from the EMMA repository to
    a signed-in user.
  </p>

  <p>
    Items of the second type were initially used to "prime" the collection of
    items associated with EMMA.
    These items are actually Bookshare items.
    When downloaded they behave like Bookshare items as
    <a href="#download_bookshare_help">described above</a>,
    except that they are not "watermarked".
  </p>

</section>
