<%# app/views/help/topic/_download.html.erb -%>
<%-
  # EMMA download help page.

  signed_in = help_jump('signed in', :sign_in)
  search    = help_jump('search',    :search)
  emma_logo = repository_source_logo(:emma)
  bs_logo   = repository_source_logo(:bookshare)
  ht_logo   = repository_source_logo(:hathiTrust)
  ia_logo   = repository_source_logo(:internetArchive)

  ia_help            = 'https://help.archive.org/hc/en-us/articles'
  is_disability_help = '360026244752-Disability-Access-General-Information'
  ia_disability_page = "#{ia_help}/#{is_disability_help}"
  ia_disability_link = external_link('Disability Access', ia_disability_page)

-%>

<p>
  Most if not all items will require you to be <%= signed_in -%>
  (although certain non-restricted items may be freely downloadable, depending
  on the originating member repository).
  After performing a <%= search -%>, scroll to the item of interest, and click
  on the download link to initiate a download.
</p>

<nav role="navigation" aria-labelledby="download_help_nav">
  <label id="download_help_nav" class="sr-only">
    Topics in this section:
  </label>
  <ul>
    <li>
      <a href="#download_hathiTrust_help">
        Downloading a HathiTrust item
      </a>
    </li>
    <li>
      <a href="#download_internetArchive_help">
        Downloading an Internet Archive item
      </a>
    </li>
    <li>
      <a href="#download_bookshare_help">
        Downloading a Bookshare item
      </a>
    </li>
    <li>
      <a href="#download_emma_help">
        Downloading an EMMA item
      </a>
    </li>
  </ul>
</nav>

<section role="region" aria-labelledby="download_hathiTrust_help">

  <h2 class="section" id="download_hathiTrust_help">
    <span class="text">Downloading a HathiTrust item</span>
    <%= ht_logo %>
  </h2>

  <p>
    Because HathiTrust applies its own restrictions, item download links
    supplied to the EMMA Unified Index are actually links to the HathiTrust web
    page entry for the creative work associated with the item.
    Such pages may reference multiple copies of the same item &mdash;
    unique scans contributed by different academic partners.
  </p>

  <p>
    The actual download is performed from the hathitrust.org web page;
    this constitutes a transaction between that web site and your web browser.
    Currently, the EMMA system is not a party to this transaction;
    future work may include enhancements to help reflect this information
    within EMMA.
    For now, however, the EMMA system will not be able to track your file
    download from HathiTrust, and therefore will not know the origin of this
    item.
  </p>

</section>

<section role="region" aria-labelledby="download_internetArchive_help">

  <h2 class="section" id="download_internetArchive_help">
    <span class="text">Downloading an Internet Archive item</span>
    <%= ia_logo %>
  </h2>

  <p>
    EMMA entries from Internet Archive have download links which should cause
    your browser to directly download from the archive.org web site.
    For restricted items, the result is likely to be encrypted;
    refer to IA's article on <%= ia_disability_link -%> for details.
  </p>

  <p>
    Planned work will involve a way to allow the EMMA service to intercede on
    behalf of EMMA users to streamline access to IA accessible materials.
  </p>

</section>

<section role="region" aria-labelledby="download_bookshare_help">

  <h2 class="section" id="download_bookshare_help">
    <span class="text">Downloading a Bookshare item</span>
    <%= bs_logo %>
  </h2>

  <p>
    When the download link for a Bookshare item is clicked, the EMMA service
    intercepts the request to add identity information needed for the request
    to be honored by the Bookshare service.
  </p>

  <p>
    Bookshare assembles the requested item on-the-fly to include an internal
    "watermark" identifying the requester of that customized instance of the
    requested file.
    During the short time that this takes, EMMA client-side software will
    monitor its status and show a "loading" image to indicate that Bookshare is
    working on the request.
  </p>

  <p>
    The customized instance is deposited into temporary cloud storage when it
    is ready to be acquired &mdash;
    at that time, the EMMA client-side software replaces the "loading" image
    with a "Download" link.
    Clicking on this link will acquire the newly-created file instance from
    cloud storage.
  </p>

</section>

<section role="region" aria-labelledby="download_emma_help">

  <h2 class="section" id="download_emma_help">
    <span class="text">Downloading an EMMA item</span>
    <%= emma_logo %>
  </h2>

  <p>
    Items that are "native" to the EMMA repository
    (that is, items that have been uploaded by EMMA users and/or are otherwise
    not to be found in any of the other member repositories)
    come in two flavors (at least initially):
  </p>

  <ul>
    <li>
      Items uploaded directly to EMMA by EMMA users.
    </li>
    <li>
      Bookshare items that are part of their "EMMA Collection"
    </li>
  </ul>

  <p>
    Items of the first type are delivered directly from the EMMA service to a
    signed-in user.
  </p>

  <p>
    Items of the second type were initially used to "prime" the collection of
    items associated with EMMA.
    These items are actually Bookshare items.
    When downloaded they behave like Bookshare items as
    <a href="#download_bookshare_help">described above</a>,
    except that they are not "watermarked".
  </p>

</section>
