<%# app/views/help/topic/_download.html.erb -%>
<%-
  # EMMA download help page.

  view_debug(__FILE__)

  topic               = config_section('help.topic.download')

  ace                 = topic[:ace]
  ia                  = topic[:ia]
  oa                  = topic[:oa]
  emma                = topic[:emma]

  ace_title           = ace[:title]
  ia_title            = ia[:title]
  oa_title            = oa[:title]
  emma_title          = emma[:title]

  ace_logo            = repository_source_logo(:ace)
  ia_logo             = repository_source_logo(:internetArchive)
  oa_logo             = repository_source_logo(:openAlex)
  emma_logo           = repository_source_logo(:emma)

  signed_in           = help_jump('signed in', :sign_in)
  search              = help_jump('search',    :search)

  # Page anchors

  ace_help            = 'download_ace_help'
  ia_help             = 'download_internetArchive_help'
  oa_help             = 'download_openAlex_help'
  emma_help           = 'download_emma_help'

-%>

<p>
  Activation of item download links require you to be <%= signed_in -%> to EMMA
  (although certain non-restricted items may be freely downloadable, depending
  on the originating partner repository).
  After performing a <%= search -%>, scroll to the item of interest, and click
  on the download link to initiate a download.
</p>

<nav role="navigation" aria-labelledby="download_help_nav">
  <div id="download_help_nav" class="sr-only">
    Topics in this section:
  </div>
  <ul>
    <li><a href="#<%= ace_help  -%>"><%= ace_title  -%></a></li>
    <li><a href="#<%= ia_help   -%>"><%= ia_title   -%></a></li>
    <li><a href="#<%= oa_help   -%>"><%= oa_title   -%></a></li>
    <li><a href="#<%= emma_help -%>"><%= emma_title -%></a></li>
  </ul>
</nav>

<section role="region" data-part="download" aria-labelledby="<%= ace_help -%>">

  <h2 class="section" id="<%= ace_help -%>">
    <span class="text"><%= ace_title -%></span>
    <%= ace_logo %>
  </h2>

  <p>
    Because these items are made available to EMMA users via Internet Archive,
    see <a href="#<%= ia_help -%>"><%= ia_title -%></a> below.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= ia_help -%>">

  <h2 class="section" id="<%= ia_help -%>">
    <span class="text"><%= ia_title -%></span>
    <%= ia_logo %>
  </h2>

  <p>
    EMMA dynamically accesses Internet Archive to retrieve files from it.
    Depending on the item, the file may be immediately available or it may
    require "on-the-fly" generation before Internet Archive can provide the
    file in the requested format.
  </p>

  <p>
    If on-the-fly generation is required,
    Expect a delay of several minutes before the item has been prepared for
    download.
    (Requests for DAISY format may result in substantially longer delays than
    requests for EPUB format.)
    When it is ready, a DOWNLOAD button will appear.
    Click this to perform the actual file download via your browser.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= oa_help -%>">

  <h2 class="section" id="<%= oa_help -%>">
    <span class="text"><%= oa_title -%></span>
    <%= oa_logo %>
  </h2>

  <p>
    Any download link for an index entry associated with OpenAlex is actually
    a link to the original source of the file.
  </p>

</section>

<section role="region" data-part="download" aria-labelledby="<%= emma_help -%>">

  <h2 class="section" id="<%= emma_help -%>">
    <span class="text"><%= emma_title -%></span>
    <%= emma_logo %>
  </h2>

  <p>
    Items that are "native" to the EMMA repository
    (that is, items that have been uploaded by EMMA users and/or are otherwise
    not to be found in any of the other partner repositories)
    are delivered directly from the EMMA repository to the signed-in user.
  </p>

</section>
