<%# app/views/help/topic/_entry.html.erb -%>
<%-
  # EMMA entry form help page.

  view_debug(__FILE__)

  signed_in         = help_jump('signed in', :sign_in)
  delta             = EntryDecorator::ICONS.dig(:edit, :icon)
  delta             = html_span(delta, 'aria-label': 'triangle')
  x                 = EntryDecorator::ICONS.dig(:delete, :icon)
  x                 = html_span(x, 'aria-label': 'X')
  edit_tip          = EntryDecorator::ICONS.dig(:edit, :tip)
  delete_tip        = EntryDecorator::ICONS.dig(:delete, :tip)
  upload_actions    = help_image(:upload_actions)
  panel_opener      = PanelHelper::PANEL_OPENER_LABEL
  panel_opener      = help_span(panel_opener, class: 'toggle')

  create_config     = EntryDecorator.form_actions[:new]
  create_select     = create_config.dig(:select, :enabled, :label)
  create_select     = help_span(create_select, class: 'control-button')
  create_submit     = create_config.dig(:submit, :enabled, :label)
  create_submit     = help_span(create_submit, class: 'control-button')
  create_cancel     = create_config.dig(:cancel, :enabled, :label)
  create_cancel     = help_span(create_cancel, class: 'control-button')

  edit_config       = EntryDecorator.form_actions[:edit]
  edit_select       = edit_config.dig(:select, :enabled, :label)
  edit_select       = help_span(edit_select, class: 'control-button')
  edit_submit       = edit_config.dig(:submit, :enabled, :label)
  edit_submit       = help_span(edit_submit, class: 'control-button')
  edit_cancel       = edit_config.dig(:cancel, :enabled, :label)
  edit_cancel       = help_span(edit_cancel, class: 'control-button')

  delete_config     = EntryDecorator.form_actions[:delete]
  delete_submit     = delete_config.dig(:submit, :enabled, :label)
  delete_submit     = help_span(delete_submit, class: 'control-button')
  delete_cancel     = delete_config.dig(:cancel, :enabled, :label)
  delete_cancel     = help_span(delete_cancel, class: 'control-button')

  upload_step       = 0
  source_menu       = help_image(:source_menu,            class: 'wide')
  source_menu_open  = help_image(:source_menu_opened,     class: 'wide')
  source_menu_ht    = help_image(:source_menu_ht,         class: 'wide')
  source_selected   = help_image(:source_selected_fields, class: 'wide')
-%>

<p>
  You must be <%= signed_in -%> in order to submit a new remediated item, or
  to make changes to an existing repository entry.
</p>

<nav role="navigation" aria-labelledby="upload_help_nav">
  <label id="entry_help_nav" class="sr-only">
    Topics in this section:
  </label>
  <ul>
    <li>
      <a href="#entry_overview_help">OVERVIEW</a>
    </li>
    <li>
      <a href="#entry_new_help">Submitting a new item to EMMA</a>
    </li>
    <li>
      <a href="#entry_edit_help">Updating an existing EMMA entry</a>
    </li>
    <li>
      <a href="#entry_delete_help">Removing an existing EMMA entry</a>
    </li>
  </ul>
</nav>

<section role="region" aria-labelledby="upload_overview_help">

  <h2 class="section" id="entry_overview_help">
    OVERVIEW
  </h2>

  <p>
    All of EMMA’s functionality related to working with submissions is
    available after selecting Uploads from the navigation menu.
    The Uploads main page displays all of the files that have been previously
    uploaded to EMMA under your account.
  </p>

  <h3 class="sub-section" id="entry_actions_menu_help">
    Upload Actions menu
  </h3>

  <p>
    The available functions are displayed at the top of each Uploads page as a
    set of buttons:
    <%= upload_actions %>
  </p>

  <div class="choices">
    <div class="label"><a href="#entry_new_help">Create</a></div>
    <div class="value">Submit a new item</div>
    <div class="label"><a href="#entry_edit_help">Change</a></div>
    <div class="value">Modify an existing item</div>
    <div class="label"><a href="#entry_delete_help">Remove</a></div>
    <div class="value">Remove an existing item</div>
  </div>

  <p>
    When you have completed remediation of a file and wish to share it with the
    EMMA community, this can be done by clicking the
    <strong>Create</strong> button.
    EMMA requires that you provide both the book’s content
    (a single file or multiple files contained within a single *.zip file)
    and metadata about the book that will benefit other EMMA users in
    determining if this volume will match their needs.
  </p>

  <h3 class="sub-section" id="entry_shortcuts_menu_help">
    Action short-cuts
  </h3>

  <p>
    Each item listed on the Uploads page is associated with controls to manage
    that item (to the left of the item details on desktop displays;
    at the top of the screen on mobile displays):
  </p>

  <div class="choices">
    <div class="label"><%= delta -%></div>
    <div class="value">“<%= edit_tip -%>”</div>
    <div class="label"><%= x -%></div>
    <div class="value">“<%= delete_tip -%>”</div>
  </div>

  <p>
    Clicking on <%= delta -%> will redirect your browser to a new screen that
    will allow you to modify the associated entry.
  </p>

  <p>
    Clicking on <%= x -%> will redirect your browser to a new screen that will
    prompt you to delete the associated entry.
  </p>

</section>

<section role="region" aria-labelledby="upload_new_help">

  <h2 class="section" id="entry_new_help">
    Submitting a new item to EMMA
  </h2>

  <p>
    EMMA requires that you provide both the book’s content
    (a single file or multiple files contained within a single *.zip file)
    and metadata about the book that will benefit other EMMA users in
    determining if this volume will match their needs.
  </p>

  <h3 class="sub-section" id="entry_new_prepare_help">
    Step <%= upload_step += 1 -%>:
    Prepare a file for upload
  </h3>

  <p>
    Currently remediated content must be submitted as a single file.
    If your content is comprised of multiple individual files, you will need
    to combine them into a single ZIP archive in order to submit them as a
    single EMMA entry.
  </p>

  <h3 class="sub-section" id="entry_new_select_help">
    Step <%= upload_step += 1 -%>:
    Select a file to upload
  </h3>

  <p>
    Press the
    <%= create_select -%>
    button to open your browser's file dialog.
    Navigate to find the file on your workstation, and select it to begin the
    provisional upload of the file.
  </p>

  <p>
    As this is occurring, an orange progress bar will appear just above the
    buttons.
    When file processed successfully, EMMA will display the file name.
  </p>

  <p>
    (If the progress bar completes but no file name is listed,
    then a problem encountered in processing the file.
    You may wish to contact <%= contact_email -%>.)
  </p>

  <p>
    This step gives EMMA an opportunity to verify the integrity of the file.
    For certain file formats, metadata may be discovered that will be used to
    "pre-populate" the submission form.
  </p>

  <h3 class="sub-section" id="entry_repository_help">
    Step <%= upload_step += 1 -%>:
    Indicate the Source Repository
  </h3>

  <%= source_menu %>

  <p>
    Select "EMMA" if your file was an original scan, or is derived from a
    source other than one of EMMA's participating member repositories.
  </p>

  <p>
    If your remediated file is based on a file from a participating member
    repository, you must indicate the EMMA entry associated with that original
    file.
  </p>

  <%= source_menu_open %>

  <p>
    When you select member repository source, you will be prompted for the
    identity of the original entry.
    For most items the standard identifier (ISBN, OCLC, etc.) is sufficient to
    locate the proper EMMA entry.
    (For items without a standard identifier, the full title should work.)
  </p>

  <%= source_menu_ht %>

  <p>
    After the original item has been identified, you'll see that your
    submission has "inherited" the bibliographic metadata of the original item:
  </p>

  <%= source_selected %>

  <p>
    These fields appear differently as a reminder that the bibliographic
    metadata (title-level cataloging information) is not subject to change for
    items derived from EMMA entries supplied by member repositories.
  </p>

  <h3 class="sub-section" id="entry_new_metadata_help">
    Step <%= upload_step += 1 -%>:
    Provide metadata
  </h3>

  <p>
    In order to make your remediation efforts findable in EMMA, information
    must be supplied to identify the source material and the nature of the
    file being uploaded.
    These include:
  </p>

  <ul>
    <li>Bibliographic metadata, such as Title, Creator (Author), Language,
      Format, and Type.
    </li>
    <li>Remediation data, which will help other EMMA users know whether the
      entire volume was remediated, specify which chapters were remediated,
      and/or indicate whether the volume was born accessible.
    </li>
    <li>Source Repository, where you will indicate the source of the original
      file that was remediated.
      This may include the EMMA repository itself, one of the partner
      repositories (HathiTrust, Bookshare, or Internet Archive), or one of the
      other choices in the dropdown list.
    </li>
  </ul>

  <section role="region" aria-labelledby="upload_metadata_filters_help">

    <h3 class="sub-section" id="entry_metadata_filters_help">
      Metadata field filters
    </h3>

    <p>
      EMMA defines a significant number of metadata fields, so there are three
      radio buttons to provide different views of the data entered so far:
    </p>

    <%# ------------------------------------------------------------------- -%>

    <h4 class="sub-section" id="entry_new_all_fields_help">
      All Fields
    </h4>

    <p>
      The initial selection is unfiltered, showing form fields for all of the
      metadata types defined by EMMA.
    </p>

    <%# ------------------------------------------------------------------- -%>

    <h4 class="sub-section" id="entry_new_data_fields_help">
      Completed fields
    </h4>

    <p>
      Select this option to see only the fields that have been filled, either
      with data extracted from the file, or with values that have been entered
      manually.
    </p>

    <p>
      This filter option also shows required fields that have not been
      supplied.
    </p>

    <%# ------------------------------------------------------------------- -%>

    <h4 class="sub-section" id="entry_new_invalid_fields_help">
      Incomplete Fields
    </h4>

    <p>
      Select this option to see only required fields that have not been
      supplied and/or optional fields which do not have acceptable values.
    </p>

    <p>
      If this filter option shows no fields, then the entry should be ready to
      be submitted.
    </p>

  </section>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="entry_new_submit_help">
    Step <%= upload_step += 1 -%>:
    Complete the submission
  </h3>

  <p>
    When all required fields have been supplied, and all fields with data are
    valid, then the
    <%= create_submit -%>
    button will be enabled.
    Press it to complete the submission.
  </p>

  <p>
    If you decide that you do not want to submit the item, you may click
    <%= create_cancel -%>
    (which will attempt to return you to the previous page),
    or simply go to any other page in EMMA.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="entry_repository_detail_help">
    EMMA-native versus member repository submissions
  </h3>

  <p>
    "EMMA-native" submissions (where "EMMA" is selected as the "Source
    Repository") will be entered into the EMMA index immediately after
    completion.
    This means that your submission can start appearing in EMMA search results
    almost immediately.
  </p>

  <p>
    The remediation of a file derived from the holdings of a member repository
    must be submitted back to  is submitted back to that repository for
    inclusion in their collection.
    Depending the policy of the specific member repository, there may be some
    delay (hours or days) before the new member repository item associated with
    your submission starts to appear in EMMA search results.
  </p>

</section>

<section role="region" aria-labelledby="upload_edit_help">

  <h2 class="section" id="entry_edit_help">
    Updating an existing EMMA entry
  </h2>

  <p>
    If you arrive at this page through the Upload Actions
    <strong>Change</strong> button,
    you will be presented with a drop-down list of your previous submissions.
    Select the desired entry from the list to proceed.
  </p>

  <p>
    The form for modifying an existing entry is very similar to the form for
    creating a new entry, except that the initial field filter is
    "Completed fields".
  </p>

  <p>
    You may modify metadata associated with your submission by reviewing and
    modifying the metadata fields
    (refer to
    "<a href="#entry_new_help">Submitting a new item to EMMA</a>"
    above for a description of how the fields are organized).
  </p>

  <p>
    You may also replace the file that was originally submitted with a new
    file.
    To do this, select the
    <%= edit_select -%>
    button.
    Refer to
    "<a href="#entry_new_select_help">Select a file to upload</a>"
    above for a description of the remainder of this process.
  </p>

  <p>
    When the changes have been validated, the
    <%= edit_submit -%>
    button will be enabled.
  </p>

  <p>
    If you decide that you do not want to commit to the changes, you may click
    <%= edit_cancel -%>
    (which will attempt to return you to the previous page),
    or simply go to any other page in EMMA.
  </p>

</section>

<section role="region" aria-labelledby="upload_delete_help">

  <h2 class="section" id="entry_delete_help">
    Removing an existing EMMA entry
  </h2>

  <p>
    If you arrive at this page through the Upload Actions
    <strong>Remove</strong> button,
    you will be presented with a drop-down list of your previous submissions.
    Select the desired entry from the list to proceed.
  </p>

  <p>
    To verify that this is really the item you want to delete, you may click on
    <%= panel_opener -%> to display the item's metadata.
  </p>

  <p>
    If you decide that you do not want to delete the item, you may click
    <%= delete_cancel -%>
    (which will attempt to return you to the previous page),
    or simply go to any other page in EMMA.
  </p>

  <p>
    If you are certain that you want to delete the item, then click
    <%= delete_submit -%>.
    This will removes the remediated content file and the associated entry from
    the EMMA Unified Index.
  </p>

</section>

<%= Log.debug { "#{__FILE__}: upload steps: #{upload_step - 1}" } -%>
