<%# app/views/help/topic/_search.html.erb -%>
<%-
  # EMMA search help page.

  view_debug(__FILE__)

  summary_title     = 'OVERVIEW'

  types_title       = 'Search Types'
  q_title           = 'Keyword Search'
  title_title       = 'Title Search'
  creator_title     = 'Creator Search'
  id_title          = 'Identifier Search'

  filters_title     = 'Filters'
  single_title      = 'Simple Filters'
  repo_title        = 'Repository'
  multi_title       = 'Multi-select Filters'
  format_title      = 'Format'
  feature_title     = 'Feature'
  access_title      = 'Accessibility'

  results_title     = 'Search Result Controls'
  sort_title        = 'Sort By'
  size_title        = 'Page Size'

  display_title     = 'Search Display Modes'
  by_title_title    = 'Results By Title'
  by_file_title     = 'Results By File'

  search            = 'Search'
  search            = help_span(search, class: 'search-button')
  x                 = LayoutHelper::SearchBar::CLEAR_SEARCH_ICON
  x                 = html_span(x, title: 'X')
  #type_closed      = help_image(:search_type_closed)
  type_opened       = help_image(:search_type_opened)

  panel_opener      = help_toggle(PanelHelper::PANEL_OPENER_LABEL)
  panel_closer      = help_toggle(PanelHelper::PANEL_CLOSER_LABEL)

  drop_down         = help_image(:drop_down)
  single_select     = help_image(:one_selection)
  dual_select       = help_image(:two_selections)

  closed_toggle     = TreeHelper::TREE_OPENER_LABEL
  closed_toggle     = html_span(closed_toggle, class: 'toggle for-item closed')
  open_toggle       = TreeHelper::TREE_CLOSER_LABEL
  open_toggle       = html_span(open_toggle, class: 'toggle for-item open')

  # Page anchors

  summary_help      = 'search_overview_help'

  types_help        = 'search_type_help'
  q_help            = 'search_q_help'
  title_help        = 'search_title_help'
  creator_help      = 'search_creator_help'
  id_help           = 'search_identifier_help'

  filters_help      = 'search_filter_help'
  single_help       = 'search_filter_single_help'
  repo_help         = 'search_repository_help'
  multi_help        = 'search_filter_multi_help'
  format_help       = 'search_format_help'
  feature_help      = 'search_feature_help'
  access_help       = 'search_accessibility_help'

  results_help      = 'search_control_help'
  sort_help         = 'search_sort_help'
  size_help         = 'search_page_help'

  display_help      = 'search_display_help'
  by_title_help     = 'search_by_title_help'
  by_file_help      = 'search_by_file_help'

-%>

<nav role="navigation" aria-labelledby="search_help_nav">
  <div id="search_help_nav" class="sr-only">
    Topics in this section:
  </div>
  <ul>
    <li>
      <a href="#<%= summary_help -%>"><%= summary_title -%></a>
    </li>
    <li>
      <a href="#<%= types_help -%>"><%= types_title -%></a>
      <ul>
        <li><a href="#<%= q_help       -%>"><%= q_title       -%></a></li>
        <li><a href="#<%= title_help   -%>"><%= title_title   -%></a></li>
        <li><a href="#<%= creator_help -%>"><%= creator_title -%></a></li>
        <li><a href="#<%= id_help      -%>"><%= id_title      -%></a></li>
      </ul>
    </li>
    <li>
      <a href="#<%= filters_help -%>"><%= filters_title -%></a>
    </li>
    <li>
      <a href="#<%= single_help -%>"><%= single_title -%></a>
      <ul>
        <li><a href="#<%= repo_help -%>"><%= repo_title -%></a></li>
      </ul>
    </li>
    <li>
      <a href="#<%= multi_help -%>"><%= multi_title -%></a>
      <ul>
        <li><a href="#<%= format_help  -%>"><%= format_title  -%></a></li>
        <li><a href="#<%= feature_help -%>"><%= feature_title -%></a></li>
        <li><a href="#<%= access_help  -%>"><%= access_title  -%></a></li>
      </ul>
    </li>
    <li>
      <a href="#<%= results_help -%>"><%= results_title -%></a>
      <ul>
        <li><a href="#<%= sort_help -%>"><%= sort_title -%></a></li>
        <li><a href="#<%= size_help -%>"><%= size_title -%></a></li>
      </ul>
    </li>
    <li>
      <a href="#<%= display_help -%>"><%= display_title -%></a>
      <ul>
        <li><a href="#<%= by_title_help -%>"><%= by_title_title -%></a></li>
        <li><a href="#<%= by_file_help  -%>"><%= by_file_title  -%></a></li>
      </ul>
    </li>
  </ul>
</nav>

<section role="region" data-part="overview" aria-labelledby="<%= summary_help -%>">

  <h2 class="section" id="<%= summary_help -%>"><%= summary_title -%></h2>

  <p>
    A search term is required to begin.
    You may search for matches on the basis of:
  </p>

  <ul class="list">
    <li><strong>Keyword</strong></li>
    <li><strong>Title</strong></li>
    <li><strong>Creator</strong> (e.g., Author)</li>
    <li><strong>Identifier</strong> (e.g., ISBN)</li>
  </ul>

  <p>
    The <strong>Sort By</strong> default selection is Relevancy, and this
    should be appropriate for most searches.
  </p>

  <p>
    The remaining filters are all optional:
  </p>

  <ul class="list">
    <li><strong>Repository</strong>:
      pick one, or default to all repositories
    </li>
    <li><strong>Page Size</strong>:
      <em>not currently implemented</em>
    </li>
    <li><strong>Format</strong>, <strong>Feature</strong>, and
      <strong>Accessibility</strong>:
      you may make multiple selections for each control.
      These will generate matches when ANY of the selected choices matches an
      item.
      Note that selections of filters tend to reduce the number of matches.
    </li>
  </ul>

</section>

<section role="region" aria-labelledby="<%= types_help -%>">

  <h2 class="section" id="<%= types_help -%>"><%= types_title -%></h2>

  <p>
    Enter one or more search terms in the search input box, then press the
    <%= search -%> button.
    (A search term can be a single word or phrase, title, identifier or author
    name.)
  </p>

  <p>
    To clear the current search input, click on the "<%= x -%>" that will
    appear on the right side of the search input box.
    This does not result in a new search &mdash;
    it simply clears characters that have been input to help begin a new
    search.
  </p>

  <p>
    Keyword search is best for "discovery" of items that you hadn't considered
    before, but can lead to a large number of results &mdash;
    especially if you give only a single search term, or if your search terms
    contain many common words.
  </p>

  <p>
    If you already know that you are looking for a title, or are looking for
    a specific ISBN, then you can help reduce the number of "false positive"
    matches by specifying the appropriate search input type.
  </p>

  <%= type_opened %>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= q_help -%>"><%= q_title -%></h3>

  <p>
    This search type looks for items matching your search term(s) across a
    combination of metadata fields (title, author, description, etc).
  </p>

  <p>
    As a convenience, if a search term appears to be a standard identifier,
    your keyword search will automatically converted to an
    <a href="#<%= id_help -%>">identifier search</a>.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= title_help -%>"><%= title_title -%></h3>

  <p>
    Find items whose title matches the search term(s).
  </p>

  <p>
    For example, a Title search for "King" will return results with the word
    "King" somewhere in the title, but won't return items by Stephen King.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= creator_help -%>"><%= creator_title -%></h3>

  <p>
    Find items whose author/creator matches the search term(s).
  </p>

  <p>
    For example, a Creator search for "King" will return results by an author,
    editor or composer with "King" somewhere in their name, but won't return
    items that simply have "King" somewhere in the title.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= id_help -%>"><%= id_title -%></h3>

  <p>
    Find items whose ISBN, ISSN, OCLC, LCCN, DOI, or UPC matches the search
    term(s).
  </p>

  <p>
    Just giving an identifier number alone should be sufficient &mdash;
    however, there are some cases (depending on the numbering scheme) where it
    may be necessary to prefix the identifier with its type:
  </p>

  <div class="choices">
    <div class="label">ISBN</div>
    <div class="value">"isbn:NNNNNNNNNN", "isbn:NNNNNNNNNNNNN"</div>
    <div class="label">ISSN</div>
    <div class="value">"issn:NNNNNNNN"</div>
    <div class="label">OCLC</div>
    <div class="value">"oclc:NNNNNNNN"</div>
    <div class="label">LCCN</div>
    <div class="value">"lccn:NNNNNNNNNN"</div>
    <div class="label">UPC</div>
    <div class="value">"upc:NNNNNNNNNNNN"</div>
  </div>

</section>

<section role="region" aria-labelledby="<%= filters_help -%>">

  <h2 class="section" id="<%= filters_help -%>"><%= filters_title -%></h2>

  <p>
    The menu selections below the search input bar either filter out results
    that are not of interest or control the way that results are presented.
    (Press <%= panel_closer -%> to reduce the number of filters shown; press
    <%= panel_opener -%> to see all filter selections.)
  </p>

  <p>
    Filters (also known as "limiters") reduce the result set by eliminating all
    of the result items that don't meet the filter criteria.
    For example, setting "Repository" to "EMMA" discards all results from the
    current search except for items that originate from the EMMA repository.
  </p>

</section>

<section role="region" aria-labelledby="<%= single_help -%>">

  <h2 class="section" id="<%= single_help -%>"><%= single_title -%></h2>

  <p>
    These are drop-down menus which can only be set to a single value.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= repo_help -%>">
    <span class="menu-label"><%= repo_title -%></span>
  </h3>

  <p>
    Use this filter to limit results to just those from a specific partner
    repository.
  </p>

  <div class="choices">
    <div class="label">EMMA</div>
    <div class="value">
      Limit the results to items that have been uploaded to the EMMA repository
      directly.
    </div>
    <div class="label">Internet Archive</div>
    <div class="value">
      Limit the results to items that are provided by the Internet Archive
      repository.
    </div>
    <div class="label">ACE / Scholars Portal</div>
    <div class="value">
      Limit the results to items that are provided by ACE / Scholars Portal.
    </div>
  </div>

</section>

<section role="region" aria-labelledby="<%= multi_help -%>">

  <h2 class="section" id="<%= multi_help -%>"><%= multi_title -%></h2>

  <p>
    These are drop-down menus which can be set to multiple values.
  </p>

  <div class="columns">
    <div>
      <p>
        Click to drop down the menu selections,
        then click on a filter value to select it.
      </p>
      <p>
        This has the immediate effect of eliminating all search results that
        don't meet the condition imposed by the selection.
      </p>
    </div>
    <%= drop_down %>
  </div>

  <div class="columns">
    <div>
      <p>
        After the drop-down menu closes, your selection will appear as a marker
        with a leading "<%= x -%>".
      </p>
      <p>
        Click on the "<%= x -%>" to remove the filter value.
        (This has the immediate effect of re-running the current search without
        that filter condition.)
      </p>
    </div>
    <%= single_select %>
  </div>

  <div class="columns">
    <p>
      Click in the area outside the marker to cause the menu to drop down
      again.
      Select a different filter value, and that will be added to the previous
      facet selection value.
    </p>
    <%= dual_select %>
  </div>

  <p>
    This may cause some additional results to appear,
    because the multi-select facets use "inclusive-OR" logic &mdash;
    meaning that they allow through items that match
    <strong><em>at least one</em></strong>
    of the filter values.
  </p>

  <p>
    To clear all facet selections, click on the "<%= x -%>" on the right side
    of the menu control.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= format_help -%>">
    <span class="menu-label"><%= format_title -%></span> (multi-select)
  </h3>

  <p>
    Limit results to items that have at least one of the selected file formats.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= feature_help -%>">
    <span class="menu-label"><%= feature_title -%></span> (multi-select)
  </h3>

  <p>
    Limit results to items that have at least one of the selected remediation
    properties.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= access_help -%>">
    <span class="menu-label"><%= access_title -%></span> (multi-select)
  </h3>

  <p>
    Limit results to items that have at least one of the selected accessibility
    features.
  </p>

</section>

<section role="region" aria-labelledby="<%= results_help -%>">

  <h2 class="section" id="<%= results_help -%>"><%= results_title -%></h2>

  <p>
    The following menus do not limit the potential set of results you receive;
    they just control the order and presentation of results.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= sort_help -%>">
    <span class="menu-label"><%= sort_title -%></span>
  </h3>

  <p>
    The default sort shows the result set in decreasing order of relevance,
    starting with the entries that most closely match the search terms.
  </p>

  <div class="choices">
    <div class="label">Relevance</div>
    <div class="value">
      Show the items most closely matching the search terms
      first, followed by less close matches in decreasing order of relevance.
    </div>
    <div class="label">Title</div>
    <div class="value">
      Re-order the result set in alphabetical order of the titles of the
      matching items.
    </div>
    <div class="label">Last Remediation Date</div>
    <div class="value">
      Re-order the result set with the most recent submissions first,
      followed by older items in increasing order of age.
    </div>
  </div>

  <p>
    <strong>NOTE:</strong>
    If search criteria are very broad, then alternate sort orders may bring
    items to the top that are only marginally useful.
    Selecting a sort order is most useful when items of a result set are highly
    correlated by fairly specific search criteria (search terms plus filter
    selections).
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= size_help -%>">
    <span class="menu-label"><%= size_title -%></span>
  </h3>

  <p>
    For "Results By File":<br/>
    Select the number of results per page.
    While some search terms may be so specific that the index can eliminate all
    but the exactly right entry, more general terms may result in dozens (or
    thousands) of results.
    This filter gives you control over how large result sets are broken into
    easier-to-handle chunks.
  </p>

  <p>
    For "Results By Title":<br/>
    This menu is disabled; the number of records acquired from the index is set
    to the largest value that can be accommodated.
  </p>

</section>

<section role="region" aria-labelledby="<%= display_help -%>">

  <h2 class="section" id="<%= display_help -%>"><%= display_title -%></h2>

  <p>
    The search index underlying EMMA deals in low-level quantities that
    correspond to individual files (one entry for every copy of every format
    for a given title).
    The default EMMA search display mode takes these raw results and reshapes
    into a hierarchical view of title-level entries.
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= by_title_help -%>">
    <span class="menu-control"><%= by_title_title -%></span>
  </h3>

  <p>
    In this display mode, search results from the index are aggregated into a
    set of entries which represent creative works at the title level (as they
    would be seen at the originating repository.
    Each entry starts in a collapsed state;
    click the <%= closed_toggle -%> toggle control to expand it.
  </p>

  <p>
    Each title-level entry begins with bibliographic metadata that applies to
    the creative work, followed by one or more collapsible sections.
    Each section starts in an expanded state;
    click the <%= open_toggle -%> toggle control to collapse it.
  </p>

  <p>
    Each section represents a format in which a copy of the creative work is
    available (EPUB, DAISY, etc.) and contains remediation metadata and other
    information which is specific to the file itself.
  </p>

  <p>
    Some entries may have a more complex structure, comprised of multiple
    copies of multiple volumes.
    Each volume will be its own "sub-tree" with potentially multiple formats,
    and each format having potentially multiple copies
    (e.g., unique scans from different originators).
  </p>

  <%# --------------------------------------------------------------------- -%>

  <h3 class="sub-section" id="<%= by_file_help -%>">
    <span class="menu-control"><%= by_file_title -%></span>
  </h3>

  <p>
    In this display mode there is a one-to-one correspondence between items
    returned by the index and the search result entries that are displayed on
    the page.
    All information for all (file-level) items are displayed fully expanded.
  </p>

  <p>
    This mode might be useful if you are scanning for information that is not
    directly searchable by the index's defined search types.
    In this case, your browser's search-in-page facility can be used to find
    occurrences of the information directly on the page.
  </p>

  <p>
    This mode may also be useful if you want search results in JSON format for
    automated processing (by appending "<code>&results=file&format=json</code>"
    to the URL).
  </p>

</section>
