<%# app/views/help/topic/_sign_in.html.erb -%>
<%-
  # EMMA sign-in help page.

  sign_in                = get_sessions_label(:new)
  sign_in                = help_span(sign_in, class: 'sign-in-button')
  sign_in_with_bookshare = get_sessions_label(:new, :bookshare)
  sign_in_with_bookshare = %Q("#{sign_in_with_bookshare}")
  bookshare_login        = help_image(:bookshare_login)
  bookshare_sign_in      = help_span('Sign in', class: 'bookshare-sign-in')

-%>

<p>
  Searching EMMA may be performed by anyone, but downloading, uploading, and
  other operations that affect the state of EMMA will require you to identify
  yourself by signing in.
</p>

<nav role="navigation" aria-labelledby="sign_in_help_nav">
  <p id="sign_in_help_nav">Topics in this section:</p>
  <ul>
    <li>
      <a href="#sign_in_bookshare_help">Sign-in via Bookshare</a>
    </li>
    <li>
      <a href="#sign_in_dev_help">Test Users</a>
    </li>
  </ul>
</nav>

<section role="region" aria-labelledby="sign_in_bookshare_help">

  <h2 class="section" id="sign_in_bookshare_help">
    Sign-in via Bookshare
  </h2>

  <p>
    Pressing the <%= sign_in -%> button at the upper-right corner of the EMMA
    screen take you to a page of sign-in options.
    Currently the only option is via Bookshare authentication,
    which is engaged when you click on the <%= sign_in_with_bookshare -%> link.
  </p>

  <p>
    (You must have an active account with Bookshare in order to use EMMA.)
  </p>

  <%= bookshare_login %>

  <p>
    When you click on the <%= sign_in_with_bookshare -%> link, EMMA redirects
    you to the Bookshare page (above) which prompts you for your Bookshare
    credentials.
  </p>

  <p>
    When you press <%= bookshare_sign_in -%> on that page, Bookshare redirects
    your browser back to the original EMMA page along with a hidden
    "bearer token".
    (This token will be attached to your requests to indicate your confirmed
    identity.)
  </p>

</section>

<section role="region" aria-labelledby="sign_in_dev_help">

  <h2 class="section" id="sign_in_dev_help">
    Test Users
  </h2>

  <p>
    Test accounts are available for EMMA testers.
    Please contact project managers or developers at the University of Virginia
    if you would like credentials for one of these accounts
    (<%= contact_email -%>).
  </p>

</section>
