<%# app/views/help/topic/_sign_in.html.erb -%>
<%-
  # EMMA sign-in help page.

  view_debug(__FILE__)

  sign_in_label     = get_sessions_label(:new)
  main_sign_in      = help_span(sign_in_label, class: 'sign-in-button')
  sign_in_submit    = help_span(sign_in_label, class: 'sign-in-link')

  reset_label       = t('emma.user.passwords.new.label')
  reset_button      = help_span(reset_label, class: 'sign-in-link')

  local_auth        = :local
  local_label       = get_sessions_label(:sign_in, local_auth)
  local_title       = local_label
  local_sign_in     = help_span(local_label,  class: 'sign-in-link')
  local_login_form  = help_image(:"#{local_auth}_login")

  remote_auth       = :shibboleth
  remote_label      = get_sessions_label(:new, remote_auth)
  remote_title      = remote_label
  remote_sign_in    = help_span(remote_label,  class: 'sign-in-link')
  remote_login_form = help_image(:"#{remote_auth}_login")

  # Page anchors

  local_help        = 'local_sign_in_help'
  remote_help       = 'remote_sign_in_help'

-%>

<p>
  Searching EMMA may be performed by anyone, but downloading, uploading, and
  other operations that affect the state of EMMA will require you to identify
  yourself by signing in.
</p>

<nav role="navigation" aria-labelledby="sign_in_help_nav">
  <div id="sign_in_help_nav" class="sr-only">
    Topics in this section:
  </div>
  <ul>
    <li><a href="#<%= remote_help -%>"><%= remote_title -%></a></li>
    <li><a href="#<%= local_help  -%>"><%= local_title  -%></a></li>
  </ul>
</nav>

<section role="region" aria-labelledby="<%= remote_help -%>">

  <h2 class="section" id="<%= remote_help -%>"><%= remote_title -%></h2>

  <p>
    Pressing the <%= main_sign_in -%> button at the upper-right corner of the
    EMMA screen take you to a page of sign-in options.
    If your institution is a member of
    <a href="https://incommon.org">InCommon</a>,
    you can use the <%= remote_sign_in -%> button to sign in to EMMA.
  </p>

  <%= remote_login_form %>

  <p>
    When you click on this button, EMMA redirects you to the InCommon page
    (above) which prompts you for your institution in order to redirect you to
    your institutional authentication provider.
  </p>

  <p>
    After you complete your institutional sign-on, your institutional
    authentication provider redirects your browser back to the original EMMA
    page.
  </p>

</section>

<section role="region" aria-labelledby="<%= local_help -%>">

  <h2 class="section" id="<%= local_help -%>"><%= local_title -%></h2>

  <p>
    If you have an EMMA account that is not tied to an institutional account,
    you can use the <%= local_sign_in -%> button to sign in to EMMA.
  </p>

  <%= local_login_form %>

  <p>
    Clicking on this button presents fields for entering your EMMA account name
    and EMMA password.
    Fill these and click on the <%= sign_in_submit -%> button on that same line
    to sign on with your local EMMA credentials.
  </p>

  <p>
    If you have forgotten your EMMA password, click on <%= reset_button -%> to
    generate an email which will allow you to reset your password.
  </p>

</section>
