<%# app/views/home/welcome.html.erb -%>
<%-
  # Application main page for anonymous users.

  view_debug(__FILE__)

  help  ||= nil # %i[home welcome]
  title ||= t('emma.home.welcome.title', default: :'emma.home.title')

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

  sign_in = t('emma.user.sessions.new.label')
  sign_in = link_to(sign_in, new_user_session_path)

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="sign-in">
  <%= t('emma.home.welcome.notice_html', sign_in: sign_in) %>
</div>

<%= page_text_section(:enroll) %>
<%= page_alert_section(:enroll_production) unless production_deployment? %>

<%= page_notes_section %>
<%= render 'account/ability' if session_debug? %>
