<%# app/views/home/welcome.html.erb -%>
<%-
  # Application main page for anonymous users.

  view_debug(__FILE__)

  help  ||= nil # %i[home welcome]
  title ||= t('emma.home.welcome.title', default: :'emma.home.title')

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

  sign_in = t('emma.user.sessions.new.label')
  sign_in = link_to(sign_in, new_user_session_path)

  opt = { controller: :home, action: :welcome }

  opt[:project_email]       = Emma::Constants::PROJECT_EMAIL
  opt[:academic_partners]   = emma_partner_list(:academic)
  opt[:commercial_partners] = emma_partner_list(:commercial)

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section(**opt) %>

<%= page_directions_section %>
<div class="sign-in">
  <%= t('emma.home.welcome.notice_html', sign_in: sign_in) %>
</div>

<%= page_notes_section(**opt) %>
<%= render 'account/ability' if session_debug? %>
