<%# app/views/home/welcome.html.erb -%>
<%-
  # Application main page for anonymous users.

  view_debug(__FILE__)

  cfg   ||= config_page_section(:home, :welcome)
  help  ||= nil # %i[home welcome]
  title ||= cfg[:title] || config_page(:home, :title)

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

  sign_in = config_page(:user_sessions, :new, :label)
  sign_in = link_to(sign_in, new_user_session_path)

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="sign-in">
  <%= cfg[:notice_html] % { sign_in: sign_in } %>
</div>

<%= page_text_section(:enroll) %>
<%= page_alert_section(:enroll_production) unless production_deployment? %>

<%= page_notes_section %>
<%= render 'account/ability' if session_debug? %>
