<%# app/views/tool/lookup.html.erb -%>
<%-
  # Direct results from bibliographic lookup.
  #
  # NOTE:

  view_debug(__FILE__)

  help  ||= %i[lookup_tool]
  title ||= t('emma.tool.lookup.title')

  unless modal?
    label = t('emma.tool.lookup.label', default: title)
    set_page_meta_title(label)
    set_page_description(title)
  end

  query_panel       = 'lookup-query'
  query_terms       = 'terms'
  status_panel      = 'lookup-status'
  notice            = 'notice'
  services          = 'services'
  #entries          = 'lookup-entries'
  prompt            = 'lookup-prompt'
  heading           = 'lookup-heading'
  output            = 'lookup-output'
  terms             = 'item-terms'
  separator         = 'item-separator'
  results           = 'item-results'
  errors            = 'item-errors'
  diagnostics       = 'item-diagnostics'

  query_panel_css   = query_panel
  query_terms_css   = query_terms
  status_panel_css  = status_panel
  services_css      = "#{services} invisible"
  notice_css        = notice
  #entries_css      = entries
  prompt_css        = prompt
  heading_css       = heading
  output_css        = output
  terms_css         = terms
  separator_css     = separator
  results_css       = "#{results} value"
  errors_css        = "#{errors} value"
  diagnostics_css   = "#{diagnostics} value"

  unique            = hex_rand
  heading_id        = "#{heading}-#{unique}"
  query_id          = "#{query_terms}-#{unique}"
  terms_id          = "#{terms}-#{unique}"
  separator_id      = "#{separator}-#{unique}"
  results_id        = "#{results}-#{unique}"
  errors_id         = "#{errors}-#{unique}"
  diagnostics_id    = "#{diagnostics}-#{unique}"

  query_label       = 'Query'           # TODO: I18n
  terms_label       = 'Query'           # TODO: I18n
  lookup_label      = 'Lookup'          # TODO: I18n
  separators_label  = 'Term Separators' # TODO: I18n
  services_label    = 'Searching:'      # TODO: I18n
  heading_label     = 'Results'         # TODO: I18n
  errors_label      = 'Errors'          # TODO: I18n
  diagnostics_label = 'Diagnostics'     # TODO: I18n

  separators = {
    space: 'Space, tab, and <strong>|</strong> (pipe)'.html_safe,
    pipe:  'Only <strong>|</strong> (pipe)'.html_safe
  }
  selected = :space

  query_panel_css = css_classes(query_panel_css, 'hidden')
  #entries_css    = css_classes(entries_css, 'hidden')

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>

<div class="<%= query_panel_css -%>">
  <div class="label" id="<%= query_id -%>"><%= query_label -%></div>
  <div class="<%= query_terms_css -%>" aria-describedby="<%= query_id -%>"></div>
</div>

<div class="<%= prompt_css -%>">
  <div class="<%= terms_css -%>">
    <label for="<%= terms_id -%>"><%= terms_label -%>:</label>
    <input id="<%= terms_id -%>" name="terms" type="text"/>
    <button name="button" type="submit"><%= lookup_label -%></button>
  </div>
  <fieldset id="<%= separator_id -%>" class="<%= separator_css -%>">
    <legend><%= separators_label -%></legend>
    <%- separators.each_with_index do |(value, text), index| -%>
      <%- radio_id = "#{separator_id}-#{index}" -%>
      <%- default  = selected ? (value == selected) : index.zero? -%>
      <%- checked  = ('checked' if default) -%>
      <input id="<%= radio_id -%>" name="separator" type="radio" value="<%= value -%>" <%= checked -%>/>
      <label for="<%= radio_id -%>"><%= text -%></label>
    <%- end -%>
  </fieldset>
</div>

<div class="<%= status_panel_css -%>">
  <div class="<%= services_css -%>">
    <div class="label"><%= services_label -%></div>
  </div>
  <div class="<%= notice_css -%>"></div>
</div>

<h2 id="<%= heading_id -%>" class="<%= heading_css -%>"><%= heading_label -%></h2>

<div class="<%= output_css -%>">
  <!--suppress HtmlFormInputWithoutLabel -->
  <textarea id="<%= results_id -%>" class="<%= results_css -%>" aria-labelledby="<%= heading_id -%>"></textarea>
  <div class="pair">
    <label for="<%= errors_id -%>" class="label"><%= errors_label -%></label>
    <textarea id="<%= errors_id -%>" class="<%= errors_css -%>"></textarea>
  </div>
  <div class="pair">
    <label for="<%= diagnostics_id -%>" class="label"><%= diagnostics_label -%></label>
    <textarea id="<%= diagnostics_id -%>" class="<%= diagnostics_css -%>"></textarea>
  </div>
</div>

<%= page_notes_section %>
