<%# app/views/tool/md.html.erb -%>
<%-
  # Math Detective API test harness.

  view_debug(__FILE__)

  help  ||= nil # %i[tool md]
  title ||= t('emma.tool.md.title')

  unless modal?
    label = t('emma.tool.md.label', default: title)
    set_page_meta_title(label)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="grid-container">
  <%= md_file_input %>
  <%= md_clipboard_input %>
  <%= md_status  class: 'hidden' %>
  <%= md_error   class: 'hidden' %>
  <%= md_mathml  class: 'hidden' %>
  <%= md_latex   class: 'hidden' %>
  <%= md_spoken  class: 'hidden' %>
  <%= md_results class: 'hidden' %>
  <%= md_preview class: 'hidden' %>
</div>

<%= page_notes_section %>
