<%# app/views/sys/headers.html.erb -%>
<%-
  # Request headers

  view_debug(__FILE__)

  help  ||= nil # %i[sys headers]
  title ||= t('emma.sys.headers.title')

  unless modal?
    label = t('emma.sys.headers.label', default: title)
    set_page_meta_title("System - #{label}")
    set_page_description(title)
  end

-%>

<%= scroll_to_top_target %>
<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>

<%= request_headers_section %>

<h2>Request session</h2>
<%= request_session_section %>

<h2>Rack session options</h2>
<%= request_options_section %>

<h2>Rack::Request</h2>
<%= rack_headers_section %>

<h2>Rails</h2>
<%= rails_headers_section %>

<%= page_notes_section %>
<%= render 'sys/menu' unless modal? %>
