<%# app/views/sys/settings.html.erb -%>
<%-
  # Dynamic application settings.

  view_debug(__FILE__)

  cfg   ||= current_config_page_section
  help  ||= nil # %i[sys settings]
  title ||= cfg[:title]

  unless modal?
    label = cfg[:label] || title
    set_page_meta_title("System - #{label}")
    set_page_description(title)
  end

  the, vars, file =
    if production_deployment?
      ['the Terraform', 'production',   'configuration file']
    elsif staging_deployment?
      ['the Terraform', 'staging',      'configuration file']
    elsif in_local_docker?
      ['the', '/mnt/environment.rb',    'file in the Docker image']
    else
      ['the', './.idea/environment.rb', 'file in the local project directory']
    end
  if vars.include?('/')
    vars = html_bold(vars)
  else
    vars = "ecs-tasks/#{vars}/environment.vars"
    vars = terraform_link(vars, File.basename(vars))
  end
  vars = safe_join([the, vars, file], ' ')

-%>

<%= scroll_to_top_target %>
<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>

<h2>Engines</h2>
<p role="note">
  Configured engine URL values.
</p>

<%= app_engines %>

<h2>ExecutionProperty Values</h2>
<p role="note">
  Fixed values set in <%= source_code_link('config/boot.rb') -%> at startup.
</p>

<%= app_properties %>

<h2>Flags</h2>
<p role="note">
  Flags which may be turned on or off to dynamically change application
  behavior when "<%= SysHelper::Settings::COMMIT_LABEL -%>" is pressed.
  Values explicitly provided as an environment variable are marked with "ENV";
  all other values come from "en.emma.env_var" YAML configuration settings
  or from equivalently-named constants if the configuration value is nil.
</p>

<%= app_flags %>

<p class="error" role="note">
  NOTE: These controls will not be operative until the system is re-architected
  to consult these dynamic values instead of the constants which are currently
  set at load time.
</p>

<h2>Settings</h2>
<p role="note">
  Other configuration values which are defined at startup and cannot be
  changed dynamically.
  They can only be changed by modifying <%= vars -%> and restarting.
  Values explicitly provided as an environment variable are marked with "ENV";
  values taken from `Rails.application.credentials` are marked with "CRED";
  all other values come from "en.emma.env_var" YAML configuration settings
  or from equivalently-named constants if the configuration value is nil.
</p>

<%= app_settings %>

<%= page_notes_section %>
<%= render 'sys/menu' unless modal? %>
