<%# app/views/data/counts.html.erb -%>
<%-
  # A table of EMMA submission fields with a count of each unique value.

  title ||= t('emma.data.counts.title')
  list  ||= @list
  help  ||= nil # help_popup(:data, :submissions) # TODO: ???

  unless modal?
    label = t('emma.data.counts.label', default: title)
    set_page_title(label)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= page_directions_section %>
<%= render 'data/fields', fields: list %>

<%= page_notes_section %>
