<%# app/views/data/index.html.erb -%>
<%-
  # EMMA database tables.

  view_debug(__FILE__)

  list  ||= @list
  names ||= @names
  list    = list&.stringify_keys
  names   = names&.map(&:to_s) || list&.keys || sorted_table_names

  fail if sanity_check? && list && (list.keys != names)

  cfg   ||= current_config_page_section
  help  ||= nil # %i[data]
  title ||= cfg[:title]

  unless modal?
    label = cfg[:label] || title
    set_page_meta_title(label)
    set_page_description(title)
  end

  submissions_label = config_page(:data, :submissions, :label)
  counts_label      = config_page(:data, :data, :counts, :label)
  submission_paths  = {
    submissions_label => data_submissions_path(format: :html),
    counts_label      => data_counts_path(format: :html),
  }

  if list.present?
    suffix = hex_rand
    anchor = list.keys.map { [_1, url_escape("#{_1}_#{suffix}")] }.to_h
    paths  = anchor.transform_values { "##{_1}" }
  else
    anchor = nil
    paths  = names.map { [_1, data_path(id: _1)] }.to_h
  end

  counts = names.map { [_1, table_row_count(_1)] }.to_h

-%>

<%= page_heading(title, help: help) %>

<%= page_description_section %>

<h2><%= cfg.dig(:submissions, :title) -%></h2>
<ul class="database-table-links">
  <%- submission_paths.each_pair do |name, path| -%>
    <li><%= link_to(name, path) -%></li>
  <%- end -%>
</ul>

<h2><%= cfg.dig(:tables, :title) -%></h2>
<ul class="database-table-links">
  <%- paths.each_pair do |name, path| -%>
    <%- count = counts[name] || 0 -%>
    <li data-count="<%= count -%>">
      <%= link_to(name, path) -%> (<%= count -%>)
    </li>
  <%- end -%>
</ul>

<%- if list.present? -%>
  <%= page_directions_section %>
  <div class="database-tables">
    <%- list.each_pair do |name, records| -%>
      <%= render 'data/heading', item: records, name: name, id: anchor[name] %>
      <%= render 'data/details', item: records, name: name %>
    <%- end -%>
  </div>
<%- end -%>

<%= page_notes_section %>
