<%# app/views/data/index.html.erb -%>
<%-
  # EMMA database tables.

  view_debug(__FILE__)

  list  ||= @list || {}

  title ||= t('emma.data.index.title')
  help  ||= nil # :data

  unless modal?
    label = t('emma.data.index.label', default: title)
    set_page_meta_title(label)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  suffix = hex_rand
  list   = list.stringify_keys
  anchor = list.keys.map { |k| [k, url_escape("#{k}_#{suffix}")] }.to_h

-%>

<%= page_heading(title, help: help) %>

<%= page_description_section %>
<ul class="database-table-links">
  <%- anchor.each_pair do |name, id| -%>
    <li><%= link_to(name, "##{id}") -%></li>
  <%- end -%>
</ul>

<%= page_directions_section %>
<div class="database-tables">
  <%- list.each_pair do |name, records| -%>
    <%= render 'data/heading', list: records, name: name, id: anchor[name] %>
    <%= render 'data/details', list: records %>
  <%- end -%>
</div>

<%= page_notes_section %>
