<%# app/views/data/index.html.erb -%>
<%-
  # EMMA database tables.

  view_debug(__FILE__)

  list  ||= @list
  names ||= @names
  list    = list&.stringify_keys
  names   = names&.map(&:to_s) || list&.keys || sorted_table_names

  fail if sanity_check? && list && (list.keys != names)

  help  ||= nil # %i[data]
  title ||= t('emma.data.index.title')

  unless modal?
    label = t('emma.data.index.label', default: title)
    set_page_meta_title(label)
    set_page_description(title)
  end

  if list.present?
    suffix = hex_rand
    anchor = list.keys.map { |k| [k, url_escape("#{k}_#{suffix}")] }.to_h
    paths  = anchor.transform_values { |id| "##{id}" }
  else
    anchor = nil
    paths  = names.map { |name| [name, data_path(id: name)] }.to_h
  end

  counts = names.map { |name| [name, table_row_count(name)] }.to_h

-%>

<%= page_heading(title, help: help) %>

<%= page_description_section %>
<ul class="database-table-links">
  <%- paths.each_pair do |name, path| -%>
    <%- count = counts[name] || 0 -%>
    <li data-count="<%= count -%>">
      <%= link_to(name, path) -%> (<%= count -%>)
    </li>
  <%- end -%>
</ul>

<%- if list.present? -%>
  <%= page_directions_section %>
  <div class="database-tables">
    <%- list.each_pair do |name, records| -%>
      <%= render 'data/heading', list: records, name: name, id: anchor[name] %>
      <%= render 'data/details', list: records, name: name %>
    <%- end -%>
  </div>
<%- end -%>

<%= page_notes_section %>
