<%# app/views/data/index.html.erb -%>
<%-
  # EMMA database tables.

  view_debug(__FILE__)

  list  ||= @list  || {}
  names ||= @names || table_names

  help  ||= nil # %i[data]
  title ||= t('emma.data.index.title')

  unless modal?
    label = t('emma.data.index.label', default: title)
    set_page_meta_title(label)
    set_page_description(title)
  end

  if list.present?
    suffix = hex_rand
    list   = list.stringify_keys
    anchor = list.keys.map { |k| [k, url_escape("#{k}_#{suffix}")] }.to_h
    paths  = anchor.transform_values { |id| "##{id}" }
  else
    anchor = nil
    paths  = names.map { |name| [name, data_path(id: name)] }.to_h
  end

-%>

<%= page_heading(title, help: help) %>

<%= page_description_section %>
<ul class="database-table-links">
  <%- paths.each_pair do |name, path| -%>
    <li><%= link_to(name, path) -%></li>
  <%- end -%>
</ul>

<%- if list.present? -%>
  <%= page_directions_section %>
  <div class="database-tables">
    <%- list.each_pair do |name, records| -%>
      <%= render 'data/heading', list: records, name: name, id: anchor[name] %>
      <%= render 'data/details', list: records, name: name %>
    <%- end -%>
  </div>
<%- end -%>

<%= page_notes_section %>
