<%# app/views/user/_fallback.html.erb -%>
<%-
  # Fall-back error page for a failed user operation.

  view_debug(__FILE__)

  ctrlr  ||= params[:controller]&.to_s&.split('/')&.last
  action ||= params[:action]

  cfg    ||= current_config_page_section
  title  ||= cfg[:title] || cfg[:label] || 'Problem'
  error  ||= cfg[:failure] || 'UNKNOWN'

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>

<p>[ctrlr <%= ctrlr.to_s -%> / action <%= action.to_s -%>]</p>
