<%# app/views/health/run_state.html.erb -%>
<%-
  # Page displayed when the system is unavailable.

  view_debug(__FILE__)

  state ||= @state || RunState.current
  title ||= t("emma.health.run_state.state.#{state}.title", default: nil)
  title ||= t('emma.health.run_state.title', default: nil)
  title ||= state.available? ? 'AVAILABLE' : 'UNAVAILABLE'
  help  ||= nil # %i[health run_state]

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= state.html -%></p>

<%= page_notes_section %>
