<%# app/views/health/run_state.html.erb -%>
<%-
  # Page displayed when the system is unavailable.

  view_debug(__FILE__)

  state ||= @state || RunState.current

  cfg   ||= current_config_page_section
  help  ||= nil # %i[health run_state]
  title ||= cfg.dig(:state, state.status, :title) || cfg.dig(:state, :title)
  title ||= state.available? ? 'AVAILABLE' : 'UNAVAILABLE'

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= state.html -%></p>

<%= page_notes_section %>
