<%# app/views/entry/admin.html.erb -%>
<%-
  # Entry submission administration.

  view_debug(__FILE__)

  help  ||= nil # %i[entry admin]
  title ||= t('emma.entry.admin.title')

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<h2 class="admin-section">AWS S3 buckets</h2>
<%= html_s3_bucket_table(s3_object_table) %>

<%= page_notes_section %>
