<%# app/views/entry/bulk_edit.html.erb -%>
<%-
  # Prompt for a manifest to control the upload/edit of multiple submissions.

  title ||= t('emma.entry.bulk_edit.title')
  logo  ||= repository_source_logo
  help  ||= nil # help_popup(:entry, :bulk_edit) # TODO: ???

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<div class="heading container">
  <h1 class="heading"><%= title -%><%= help -%></h1>
  <%= logo %>
</div>

<%= page_description_section %>

<%= page_directions_section %>
<%= bulk_entry_form(action: :edit) %>
<%= bulk_entry_results %>

<%= page_notes_section %>
<%= page_action_list unless modal? %>
