<%# app/views/entry/cancel.html.erb -%>
<%-
  # Fall-back page for a failed Entry cancel action.

  view_debug(__FILE__)

  title ||= t('emma.entry.cancel.title')
  help  ||= nil # %i[entry cancel]
  error ||= 'Invalid identifier' # TODO: I18n

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
