<%# app/views/entry/download.html.erb -%>
<%-
  # Fall-back page for a failed Entry download action.

  view_debug(__FILE__)

  help  ||= nil # %i[entry download]
  title ||= t('emma.download.label')

  error ||= t('emma.download.error.server')

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
