<%# app/views/entry/download.html.erb -%>
<%-
  # Fall-back page for a failed Entry download action.

  title ||= t('emma.download.label')
  error ||= 'No URL provided' # TODO: I18n
  help  ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  error &&= t('emma.download.error.server')

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= page_directions_section %>
<p><%= error -%></p>

<%= page_notes_section %>
