<%# app/views/entry/edit.html.erb -%>
<%-
  # Prompt to modify an existing EMMA entry.

  title ||= t('emma.entry.edit.title')
  item  ||= @item
  repo  ||= item&.repository
  logo  ||= repository_source_logo(repo)
  help  ||= help_popup(:entry, :edit)

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<div class="heading container">
  <h1 class="heading"><%= title -%><%= help -%></h1>
  <%= logo %>
</div>

<%= page_description_section %>

<%- if item.blank? -%>

  <%= entries_menu %>

<%- else -%>

  <%= page_directions_section %>
  <%= entry_form(item, action: :edit) %>
  <%= entry_preview %>

<%- end -%>

<%= page_notes_section %>
<%= page_action_list unless modal? %>
