<%# app/views/entry/phases.html.erb -%>
<%-
  # Display a list of Phase records.

  view_debug(__FILE__)

  list  ||= paginator.page_items
  dec     = PhasesDecorator.new(list, **context)

  help  ||= nil # %i[entry phases]
  title ||= nil
  title   = dec.page_heading(title)

  level ||= 1
  row   ||= level

  search  = search_terms
  query   = search.except(:group, *Entry::NON_SEARCH_PARAMS).presence

  unless modal?
    page  = paginator.page_number
    terms = (page > 1) ? query&.merge(page: page) : query
    terms = list_search_terms(terms)       if terms
    group = search[:group]&.values&.first
    group = Entry.state_group_label(group) if group
    label = dec.page_meta_title
    set_page_meta_title(label)
    append_page_meta_title('-', group)     if group
    append_page_meta_title('-', terms)     if terms
    set_page_description(title)
  end

  level += 1

  opt = { level: level, row: row }

  top_controls, bottom_controls = dec.index_controls(**opt)
  opt[:row] += 1        if top_controls
  bottom_controls = nil if list.blank?

-%>

<%= page_heading(title, help: help) %>

<%#= dec.list_filter_options if session_debug? %>
<%#= page_description_section %>
<%#= dec.state_group_select %>

<div class="<%= dec.list_css_class -%>">
  <%= top_controls %>
  <%= dec.list_rows(**opt) %>
  <%= bottom_controls %>
</div>
