<%# app/views/member/index.html.erb -%>
<%-
  # Organization Members results page.
  title ||= t('emma.member.index.title')
  list  ||= member_list
  count ||= total_items

  if list.present?
    all_count    = nil
    search_count = "#{count} members found." # TODO: I18n
    search_count = content_tag(:div, search_count, class: 'search-count')
    controls     = pagination_controls
    terms        = search_terms.presence
  else
    all_count    = " (#{count})"
    search_count = controls = terms = nil
  end

  set_page_title(t('emma.member.index.label', default: title))
  append_page_title('-', hash_string(terms)) if terms.present?
  set_page_description(title)
  set_page_robots(:noindex)
-%>

<h1 class="heading"><%= title -%><%= all_count -%></h1>

<div class="member-list">

  <%# === Applied search terms (when applicable) === -%>
  <%= applied_search_terms(terms) if terms.present? %>

  <%# === Top pagination controls === -%>
  <%- if controls -%>
    <div class="pagination-top"><%= controls -%><%= search_count -%></div>
  <%- end -%>

  <%# === Items === -%>
  <%= render 'member/list', list: list, count: count, skip: :title %>

  <%# === Bottom pagination controls === -%>
  <%- if controls -%>
    <div class="pagination-bottom"><%= controls -%></div>
  <%- end -%>

</div>
