<%# app/views/member/index.html.erb -%>
<%-
  # Organization Members results page.

  view_debug(__FILE__)

  list   ||= @page.page_items
  dec      = MembersDecorator.new(list, **context)

  title  ||= dec.page_heading
  help   ||= nil # dec.help_topic
  total  ||= @page.total_items
  terms  ||= search_terms
  row    ||= 1

  page_opt = Record::Searchable::SEARCH_RECORDS_OPTIONS
  page_terms, search = partition_hash(terms, *page_opt)
  page     = positive(page_terms[:page]&.values&.first) || 1
  search   = search.presence

  unless modal?
    label = dec.page_meta_title(default: title)
    terms = (page > 1) ? search&.merge(page: page_terms[:page]) : search
    set_page_meta_title(label)
    append_page_meta_title('-', list_search_terms(terms)) if terms
    set_page_description(title)
  end

  opt = { total: total, page: page, row: row }

  top_controls, bottom_controls = dec.index_controls(**opt)
  opt[:row] += 1        if top_controls
  bottom_controls = nil if list.blank?

  template_opt = opt.merge!(dec: dec, skip: :title)

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>
<div class="member-list">
  <%= top_controls %>
  <%= render 'member/list', template_opt %>
  <%= bottom_controls %>
</div>

<%= page_notes_section %>
