<%# app/views/member/index.html.erb -%>
<%-
  # Organization Members results page.

  title ||= t('emma.member.index.title')
  list  ||= page_items
  total ||= total_items
  terms ||= search_terms
  row   ||= 1
  help  ||= nil

  page_opt = Upload::SEARCH_RECORDS_OPTIONS
  page_terms, search = partition_hash(terms, *page_opt)
  page   = page_terms[:page]&.values&.first&.to_i || 1
  search = search.presence

  unless modal?
    label = t('emma.member.index.label', default: title)
    terms = search
    terms = terms.merge(page: page_terms[:page]) if terms && (page > 1)
    set_page_title(label)
    append_page_title('-', list_search_terms(terms)) if terms
    set_page_description(title)
  end

  opt = { list: list, total: total, page: page, row: row }
  top_controls, bottom_controls = index_controls(**opt)
  opt[:row] += 1 if top_controls

  template_opt = opt.merge!(skip: :title)

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= page_directions_section %>
<div class="member-list">
  <%= top_controls %>
  <%= render 'member/list', template_opt %>
  <%= bottom_controls if list.present? %>
</div>

<%= page_notes_section %>
