<%# app/views/account/_ability.html.erb -%>
<%-
  # Displays the individual abilities of the current user account.

  view_debug(__FILE__)

  user    ||= current_user
  dec     ||= AccountDecorator.new(user, **context)
  name      = dec.object.email.presence || 'anonymous'
  panel_css = 'ability-list'
  panel_id  = css_randomize(panel_css)

-%>

<div class="ability-debug">
  <div class="toggle-panel-title">
    <h2 class="ability-header">Authorization for user "<%= name -%>"</h2>
    <%= toggle_button(id: panel_id) %>
  </div>
  <div id="<%= panel_id -%>" class="<%= panel_css -%>">
    <%= dec.ability_table %>
  </div>
</div>
