<%# app/views/account/_ability.html.erb -%>
<%-
  # Displays the individual abilities of the current user account.

  view_debug(__FILE__)

  user      = current_user&.to_s&.presence || 'guest'
  actions   = Ability::ACTIONS + %i[create update delete]
  models    = Ability.models
  panel_css = 'ability-list'
  panel_id  = css_randomize(panel_css)
  toggle    = toggle_button(id: panel_id)

-%>

<div class="ability-debug">
  <div class="toggle-panel-title">
    <h2 class="ability-header">Authorization for user "<%= user -%>"</h2>
    <%= toggle %>
  </div>
  <div id="<%= panel_id -%>" class="<%= panel_css -%>">
    <table role="table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader" class="model">Model</th>
          <th role="columnheader" class="action">Action</th>
          <th role="columnheader" class="status">Can perform?</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <%- models.each do |model| -%>
          <%- actions.each do |action| -%>
            <%- status = can?(action, model) -%>
            <%- can    = status ? 'can' : 'cannot' -%>
            <tr role="row" class="<%= can -%> <%= action %>-<%= model -%>">
              <td role="cell" class="model <%=  can -%>"><%= model  -%></td>
              <td role="cell" class="action <%= can -%>"><%= action -%></td>
              <td role="cell" class="status <%= can -%>"><%= status -%></td>
            </tr>
          <%- end -%>
          <tr role="row" class="blank-row">
            <td role="cell" class="model"></td>
            <td role="cell" class="action"></td>
            <td role="cell" class="status"></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
