<%# app/views/account/edit.html.erb -%>
<%-
  # Modify an existing local EMMA user account.

  item  ||= @item
  title ||= t('emma.account.edit.title')
  help  ||= nil # help_popup(:account, :edit) # TODO: ???

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%- if item.blank? -%>

  <%= account_items_menu %>

<%- else -%>

  <%= page_directions_section %>
  <%= account_form(item, action: :edit) %>

<%- end -%>

<%= page_notes_section %>
<%= page_action_list unless modal? %>
