<%# app/views/account/index.html.erb -%>
<%-
  # A list of local EMMA user accounts.

  title  ||= t('emma.account.index.title')
  # @type [Array<User>] list
  list   ||= @list
  count  ||= positive(total_items) || list&.size
  terms  ||= search_terms
  help   ||= nil # help_popup(:account) # TODO: ???
  filter ||= nil

  page_opt = Upload::SEARCH_RECORDS_OPTIONS.dup << :group
  page_terms, search = partition_options(terms, *page_opt)
  page   = page_terms[:page]&.values&.first&.to_i || 1
  search = search.presence

  unless modal?
    terms = search
    terms = terms.merge(page: page_terms[:page]) if terms && (page > 1)
    set_page_title(t('emma.account.index.label', default: title))
    append_page_title('-', list_search_terms(terms)) if terms
    set_page_description(title)
    set_page_robots(:nofollow)
  end

  title += " (#{count} %s)" % (search ? 'matches' : 'total')

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= page_description_section %>

<%= page_directions_section %>
<%= account_table(list, filter: filter) %>

<%= page_notes_section %>
<%= page_action_list unless modal? %>
