<%# app/views/help/topic/user/_new.html.erb -%>
<%-
  # Add EMMA user.

  view_debug(__FILE__)

  anchor ||= nil
  button ||= nil
  title  ||= nil
  raise unless anchor && button && title

  base_id     ||= anchor.delete_suffix('_help')

  administrator = current_user&.administrator?
 #manager       = current_user&.manager? && !administrator

  fields = %i[
    email
    role
    org_id
    first_name
    last_name
    preferred_email
    phone
    address
    status
    encrypted_password
  ]
  field = help_field_entries(:account, *fields, base: base_id)
  f_opt = { fields: field }

-%>

<section role="region" data-part="user_new" aria-labelledby="<%= anchor -%>">

  <h2 class="section" id="<%= anchor -%>">
    <%= button -%> <span class="text"><%= title -%></span>
  </h2>

  <p>
    This is a form that allows you to add a new EMMA user account.
  </p>

  <%= help_field(:email, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:role, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:org_id, **f_opt) do |f| %>
    <%- if administrator -%>
      As an administrator you must specify the new user's
      <%= f.label -%>.
      If creating a non-member (system) account, select "NONE" to explicitly
      indicate that the new user is not a part of any member organization.
    <%- else -%>
      <%= f.label -%> is pre-set to your organization and cannot
      be changed.
    <%- end -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:first_name, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:last_name, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:preferred_email, **f_opt) do |f| %>
    The <%= f.label -%> field allows you to provide an
    address where you would prefer to receive any correspondence from EMMA.
    If your <%= field[:email].name -%> is identical to your email address then
    you can leave this field blank.
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:phone, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:address, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:status, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

  <%= help_field(:encrypted_password, **f_opt) do |f| %>
    <%= f.label -%>: <%= f.text -%>
    <%= f.note -%>
  <%- end -%>

</section>
