<%# app/views/user/passwords/_reset.html.erb -%>
<%-
  # EMMA password reset.

  view_debug(__FILE__)

  user ||= resource || resource_class.new
  page ||= false
  inline = !page

  cfg           = config_page_section(:user_passwords, :new)
  ns            = __FILE__.split('/').last.split('.').first.delete_prefix('_')
  opt           = { namespace: ns }
  label_opt     = { **opt, class: 'label' }
  value_opt     = { **opt, class: 'value' }

  usr_label     = cfg[:username]
  usr_label    += ':' unless page || usr_label.end_with?(':')
  usr_label_opt = label_opt
  usr_value_opt = { **value_opt, autocomplete: 'email' }

  submit_label  = cfg[:submit]
  submit_css    = 'submit-button'
  submit_css    = "#{submit_css} best-choice" if page
  submit_opt    = { class: submit_css }

  cancel_label  = cfg[:cancel]
  cancel_opt    = { class: 'cancel-button' }

  form_label    = nil
  form_html     = { class: 'sign-in-form reset' }
  if inline
    fl_css      = 'form-label'
    fl_id       = "#{ns}-#{fl_css}"
    fl_next     = "#{ns}_user_email" # ID of email_field
    fl_opt      = { class: fl_css, id: fl_id, 'data-next': fl_next }
    form_label  = html_button(cfg[:label], **fl_opt)
    form_html[:'aria-labelledby'] = fl_id
    append_css!(form_html, 'inline', 'obscured')
  end
  form_opt = {
    as:   resource_name,
    url:  password_path(resource_name),
    html: form_html,
    **opt
  }
-%>

<%= form_for(user, form_opt) do |f| %>

  <%= form_label %>

  <div class="field">
    <%= f.label       :email, usr_label, usr_label_opt %>
    <%= f.email_field :email, usr_value_opt %>
  </div>

  <div class="actions">
    <%= f.submit submit_label, submit_opt %>
    <%= link_to  cancel_label, :back, cancel_opt if page %>
  </div>

<%- end -%>
