<%# app/views/user/passwords/new.html.erb -%>
<%-
  # Forgot password page.
  #
  # NOTE: This template replaces 'devise/passwords/new'.

  view_debug(__FILE__)

  user  ||= resource

  title ||= t('emma.user.passwords.new.label')
  help  ||= nil

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

  form_opt = {
    as:   resource_name,
    url:  password_path(resource_name),
    html: { class: 'sign-in-form field-pairs', method: :post }
  }

  label_opt       = { class: 'label' }
  value_opt       = { class: 'value' }

  email_label_opt = label_opt
  email_value_opt = value_opt.merge(autocomplete: 'email')

  submit_label    = t('emma.user.passwords.new.submit')
  submit_opt      = { class: 'submit-button best-choice' }

  cancel_label    = t('emma.user.passwords.new.cancel')
  cancel_opt      = { class: 'cancel-button' }

-%>

<%= page_heading(title, help: help) %>

<%= page_description_section %>
<%= render 'devise/shared/error_messages', resource: user %>

<%= page_directions_section %>
<%= form_for(user, form_opt) do |f| %>

  <div class="field">
    <%= f.label       :email, email_label_opt %>
    <%= f.email_field :email, email_value_opt %>
  </div>

  <div class="actions">
    <%= f.submit    submit_label, submit_opt %>
    <%= html_button cancel_label, cancel_opt %>
  </div>

<%- end -%>

<%= page_notes_section %>
<%= render 'devise/shared/links' unless modal? %>
