<%# app/views/layouts/_banner.html.erb -%>
<%-
  # Main top application header.

  # noinspection RubyUnusedLocalVariable
  skip ||= false and return

  username     = current_user.to_s
  username_tip = t('emma.user.tooltip', user: username)
  session_link = current_user ? sign_out_link : sign_in_link

-%>

<div class="layout-banner">
  <div class="logo-area">
    <%= logo_element %>
    <div class="tagline"><%= logo_tagline -%></div>
  </div>
  <div class="control-area">
    <div class="user" title="<%= username_tip -%>"><%= username -%></div>
    <%= help_popup(:sign_in) unless signed_in? %>
    <div class="session"><%= session_link -%></div>
  </div>
</div>
