<%# app/views/layouts/_menu_page.html.erb -%>
<%-
  # Show a menu of decorator items driven by params[:action].

  dec   ||= nil or view_abort(__FILE__, ':dec not passed via "locals"')

  help  ||= dec.help_topic
  title ||= nil
  name  ||= nil
  title   = dec.page_title(title, name: name)

  unless modal?
    label = "#{dec.page_meta_title} - #{title}"
    set_page_meta_title(label)
    set_page_description(title)
  end

  # If dual selection menus have been specified, they are displayed for users
  # who have to make a distinction between selecting their own items and
  # selecting other items to which they have access.

  # noinspection RubyUnusedLocalVariable
  if (dual ||= false)
    items     = dec.object_class.model_controller.unit[:Items]

    my_title  = config_text(:layout, :menu, :my_items, items: items)
    my_title  = html_h2(my_title,  class: 'select-title')
    my_menu   = dec.items_menu(constraints: { user: current_user })

    all_items = administrator? ? :all_items : :org_items
    all_title = config_text(:layout, :menu, all_items, items: items)
    all_title = html_h2(all_title, class: 'select-title')
    all_menu  = dec.items_menu
  else
    my_title  = all_title = all_menu = nil
    my_menu   = dec.items_menu
  end

-%>

<%= page_heading(title, help: help) %>
<%= page_description_section %>

<%= page_directions_section %>

<div class="select-menus">

  <%- if my_menu -%>
    <div class="select-menu">
      <%= my_title %>
      <%= my_menu %>
    </div>
  <%- end -%>

  <%- if all_menu -%>
    <div class="select-menu">
      <%= all_title %>
      <%= all_menu %>
    </div>
  <%- end -%>

</div>

<%= page_notes_section %>
<%= dec.action_list unless modal? %>
