<%# app/views/layouts/_search_bar.html.erb -%>
<%-
  # Search input and related controls.
  form_id  ||= unique_id('search-bar')
  position ||= :complete
  target   ||= search_input_target
  search_bar = target && search_bar_container(id: form_id, target: target)
  return unless search_bar.present?
  classes    = 'layout-section search bar'
-%>

<div class="<%= classes -%>" data-target="<%= target -%>" role="search">
  <div class="enclosure shadow <%= position -%>">
    <%= search_bar %>
    <%= search_controls(form: form_id) %>
  </div>
</div>
