<%# app/views/layouts/application.html.erb -%>
<%-
  # Application page layout.

  main_id = 'main' # TODO: I18n for 'Main Content'

  append_page_classes('debug') if session_debug?

  session_id = session.id
  script_setting(SESSION_ID: (session_id.try(:public_id) || session_id))

-%>
<!DOCTYPE html>
<html lang="<%= page_language -%>">

  <%# <!--suppress HtmlRequiredTitleElement--> %>
  <head>
    <%= page_meta_title %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= page_meta_tags %>
    <%= page_favicon %>
    <%= page_stylesheets %>
    <%= page_script_settings %>
    <%= page_javascripts %>
  </head>

  <body class="<%= page_classes -%>">
    <%= render 'layouts/session' %>
    <%= render 'layouts/header' %>
    <main class="layout-content" id="<%= main_id -%>">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/overlays' %>
    <%= page_modals %>
    <%= scroll_to_top_button %>
    <%- skip_nav_prepend('Main Content' => main_id) -%>
    <%= render 'layouts/skip_nav' %>
    <%= render 'layouts/copyright' %>
  </body>

</html>
