<%# app/views/layouts/modal.html.erb -%>
<%-
  # Modal (<iframe>) layout.

  main_id = 'main' # TODO: I18n for 'Main Content'

-%>
<!DOCTYPE html>
<html lang="<%= page_language -%>" class="modal">

  <head>
    <title>Modal Dialog</title>
    <%= page_stylesheets %>
    <%= page_javascripts %>
  </head>

  <body class="<%= page_classes -%>">
    <main class="layout-content modal" id="<%= main_id -%>">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>

</html>
